Repository halo-dev/halo, pull requests merged in 2022-09, with the labels that each got.

#2375 feat: improve the site setting config
  src/main/resources/extensions/system-setting.yaml
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2354 Provide an ability of managing attachments
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/config/WebFluxConfig.java
  src/main/java/run/halo/app/core/extension/attachment/Attachment.java
  src/main/java/run/halo/app/core/extension/attachment/Constant.java
  src/main/java/run/halo/app/core/extension/attachment/Group.java
  src/main/java/run/halo/app/core/extension/attachment/Policy.java
  src/main/java/run/halo/app/core/extension/attachment/PolicyTemplate.java
  src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentHandler.java
  src/main/java/run/halo/app/core/extension/attachment/endpoint/LocalAttachmentUploadHandler.java
  src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/attachment/AttachmentReconciler.java
  src/main/java/run/halo/app/extension/Ref.java
  src/main/java/run/halo/app/extension/router/ExtensionCreateHandler.java
  src/main/java/run/halo/app/extension/router/ExtensionDeleteHandler.java
  src/main/java/run/halo/app/extension/router/ExtensionGetHandler.java
  src/main/java/run/halo/app/extension/router/ExtensionListHandler.java
  src/main/java/run/halo/app/extension/router/ExtensionUpdateHandler.java
  src/main/java/run/halo/app/extension/router/IListRequest.java
  src/main/java/run/halo/app/extension/router/ListRequest.java
  src/main/java/run/halo/app/infra/SchemeInitializer.java
  src/main/java/run/halo/app/infra/exception/AccessDeniedException.java
  src/main/java/run/halo/app/infra/exception/HaloException.java
  src/main/java/run/halo/app/infra/exception/NotFoundException.java
  src/main/java/run/halo/app/infra/exception/ThemeInstallationException.java
  src/main/java/run/halo/app/infra/exception/ThemeUninstallException.java
  src/main/java/run/halo/app/infra/utils/FileNameUtils.java
  src/main/java/run/halo/app/infra/utils/FileUtils.java
  src/main/java/run/halo/app/plugin/HaloPluginManager.java
  src/main/java/run/halo/app/theme/engine/SpringWebFluxTemplateEngine.java
  src/main/resources/extensions/attachment-local-policy.yaml
  src/test/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpointTest.java
  src/test/java/run/halo/app/core/extension/endpoint/AttachmentEndpointTest.java
  src/test/java/run/halo/app/infra/utils/FileNameUtilsTest.java
  src/test/java/run/halo/app/infra/utils/FileUtilsTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#2380 Refine menu item reconciler to sync permalinks of other refs
  src/main/java/run/halo/app/core/extension/MenuItem.java
  src/main/java/run/halo/app/core/extension/reconciler/MenuItemReconciler.java
  src/test/java/run/halo/app/core/extension/reconciler/MenuItemReconcilerTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2385 Allow configuration of external access url
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/attachment/AttachmentReconciler.java
  src/main/java/run/halo/app/infra/ExternalUrlSupplier.java
  src/main/java/run/halo/app/infra/HaloPropertiesExternalUrlSupplier.java
  src/main/java/run/halo/app/infra/properties/HaloProperties.java
  src/main/resources/application.yaml
  src/test/java/run/halo/app/PathPrefixPredicateTest.java
  src/test/java/run/halo/app/infra/HaloPropertiesExternalUrlSupplierTest.java
  src/test/resources/application.yaml
Labels: kind/feature, lgtm, area/core, approved, release-note

#2377 feat: support code snippet injection for theme template
  src/main/java/run/halo/app/infra/SystemSetting.java
  src/main/java/run/halo/app/theme/TemplateEngineManager.java
  src/main/java/run/halo/app/theme/dialect/GlobalHeadInjectionProcessor.java
  src/main/java/run/halo/app/theme/dialect/HaloProcessorDialect.java
  src/main/java/run/halo/app/theme/dialect/PostTemplateHeadProcessor.java
  src/main/java/run/halo/app/theme/dialect/TemplateFooterElementTagProcessor.java
  src/main/java/run/halo/app/theme/dialect/TemplateGlobalHeadProcessor.java
  src/main/java/run/halo/app/theme/dialect/TemplateHeadProcessor.java
  src/main/java/run/halo/app/theme/router/PermalinkPatternProvider.java
  src/main/resources/extensions/system-configurable-configmap.yaml
  src/test/java/run/halo/app/theme/dialect/HaloProcessorDialectTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2382 fix: permalink update when slug changed
  src/main/java/run/halo/app/content/permalinks/ExtensionLocator.java
  src/main/java/run/halo/app/core/extension/reconciler/CategoryReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/TagReconciler.java
  src/main/java/run/halo/app/theme/router/PermalinkIndexer.java
  src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
  src/test/java/run/halo/app/core/extension/reconciler/TagReconcilerTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2392 Support pushing to Docker Hub
  .github/workflows/halo.yaml
Labels: kind/feature, lgtm, release-note-none, approved

#2399 Fix stackoverflow error when installing big theme
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/main/java/run/halo/app/infra/utils/DataBufferUtils.java
  src/main/java/run/halo/app/infra/utils/FileUtils.java
  src/main/java/run/halo/app/infra/utils/HaloUtils.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2393 feat: theme template route filling necessary data to request model
  src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/SinglePageFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/BaseCategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryTreeVo.java
  src/main/java/run/halo/app/theme/finders/vo/PostVo.java
  src/main/java/run/halo/app/theme/finders/vo/SinglePageVo.java
  src/main/java/run/halo/app/theme/router/TemplateRouteManager.java
  src/main/java/run/halo/app/theme/router/TemplateRouterStrategy.java
  src/main/java/run/halo/app/theme/router/UrlContextListResult.java
  src/main/java/run/halo/app/theme/router/strategy/ArchivesRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/CategoriesRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/CategoryRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/IndexRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/PostRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/TagRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/TagsRouteStrategy.java
  src/test/java/run/halo/app/theme/router/TemplateRouteManagerTest.java
  src/test/java/run/halo/app/theme/router/TemplateRouterStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/ArchivesRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/CategoriesRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/CategoryRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/IndexRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/PostRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/TagRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/TagsRouteStrategyTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2400 refactor: the structure of finders vo
  src/main/java/run/halo/app/theme/dialect/PostTemplateHeadProcessor.java
  src/main/java/run/halo/app/theme/finders/impl/CategoryFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/MenuFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/BaseCategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/BaseCommentVo.java
  src/main/java/run/halo/app/theme/finders/vo/BasePostVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryTreeVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/CommentVo.java
  src/main/java/run/halo/app/theme/finders/vo/ContentVo.java
  src/main/java/run/halo/app/theme/finders/vo/Contributor.java
  src/main/java/run/halo/app/theme/finders/vo/MenuItemVo.java
  src/main/java/run/halo/app/theme/finders/vo/MenuVo.java
  src/main/java/run/halo/app/theme/finders/vo/PostVo.java
  src/main/java/run/halo/app/theme/finders/vo/ReplyVo.java
  src/main/java/run/halo/app/theme/finders/vo/SinglePageVo.java
  src/main/java/run/halo/app/theme/finders/vo/TagVo.java
  src/test/java/run/halo/app/theme/dialect/HaloProcessorDialectTest.java
  src/test/java/run/halo/app/theme/finders/impl/CategoryFinderImplTest.java
  src/test/java/run/halo/app/theme/finders/impl/MenuFinderImplTest.java
  src/test/java/run/halo/app/theme/finders/impl/TagFinderImplTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2397 refactor: theme route pattern and permalink indexer
  src/main/java/run/halo/app/content/permalinks/CategoryPermalinkPolicy.java
  src/main/java/run/halo/app/content/permalinks/ExtensionLocator.java
  src/main/java/run/halo/app/content/permalinks/PostPermalinkPolicy.java
  src/main/java/run/halo/app/content/permalinks/TagPermalinkPolicy.java
  src/main/java/run/halo/app/core/extension/reconciler/SinglePageReconciler.java
  src/main/java/run/halo/app/infra/utils/PathUtils.java
  src/main/java/run/halo/app/theme/router/PermalinkIndexDeleteCommand.java
  src/main/java/run/halo/app/theme/router/PermalinkIndexer.java
  src/main/java/run/halo/app/theme/router/strategy/ArchivesRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/CategoryRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/IndexRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/PostRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/TagRouteStrategy.java
  src/main/resources/extensions/system-setting.yaml
  src/test/java/run/halo/app/infra/utils/PathUtilsTest.java
  src/test/java/run/halo/app/theme/router/PermalinkIndexerTest.java
  src/test/java/run/halo/app/theme/router/strategy/ArchivesRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/CategoryRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/PostRouteStrategyTest.java
  src/test/java/run/halo/app/theme/router/strategy/TagRouteStrategyTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2405 fix: getPostBy() does not return posts in subcategories
  src/main/java/run/halo/app/service/impl/PostCategoryServiceImpl.java
  src/test/java/run/halo/app/service/impl/PostCategoryServiceImplTest.java
Labels: kind/bug, lgtm, approved, release-note

#2406 feat: theme side provides variables for theme and some system settings
  build.gradle
  src/main/java/run/halo/app/Application.java
  src/main/java/run/halo/app/core/extension/reconciler/SystemSettingReconciler.java
  src/main/java/run/halo/app/infra/SystemConfigurableEnvironmentFetcher.java
  src/main/java/run/halo/app/infra/SystemSetting.java
  src/main/java/run/halo/app/theme/HaloViewResolver.java
  src/main/java/run/halo/app/theme/SiteSettingVariablesAcquirer.java
  src/main/java/run/halo/app/theme/ThemeContextBasedVariablesAcquirer.java
  src/main/java/run/halo/app/theme/ViewContextBasedVariablesAcquirer.java
  src/main/java/run/halo/app/theme/dialect/HaloProcessorDialect.java
  src/main/java/run/halo/app/theme/dialect/JsonNodePropertyAccessorBoundariesProcessor.java
  src/main/java/run/halo/app/theme/finders/ThemeFinder.java
  src/main/java/run/halo/app/theme/finders/impl/ThemeFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/SiteSettingVo.java
  src/main/java/run/halo/app/theme/finders/vo/ThemeVo.java
  src/main/resources/extensions/system-setting.yaml
  src/test/java/run/halo/app/core/extension/reconciler/SystemSettingReconcilerTest.java
  src/test/java/run/halo/app/theme/dialect/ThemeJava8TimeDialectIntegrationTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2402 feat: count the number of posts under categories and tags
  src/main/java/run/halo/app/core/extension/Category.java
  src/main/java/run/halo/app/core/extension/Post.java
  src/main/java/run/halo/app/core/extension/Tag.java
  src/main/java/run/halo/app/core/extension/reconciler/CategoryReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/TagReconciler.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryTreeVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/TagVo.java
  src/test/java/run/halo/app/core/extension/reconciler/CategoryReconcilerTest.java
  src/test/java/run/halo/app/core/extension/reconciler/TagReconcilerTest.java
  src/test/java/run/halo/app/theme/finders/impl/TagFinderImplTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2412 feat: add comment custom endpoint for list view
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/content/comment/CommentEmailOwner.java
  src/main/java/run/halo/app/content/comment/CommentQuery.java
  src/main/java/run/halo/app/content/comment/CommentRequest.java
  src/main/java/run/halo/app/content/comment/CommentService.java
  src/main/java/run/halo/app/content/comment/CommentServiceImpl.java
  src/main/java/run/halo/app/content/comment/CommentSorter.java
  src/main/java/run/halo/app/content/comment/CommentSubject.java
  src/main/java/run/halo/app/content/comment/ListedComment.java
  src/main/java/run/halo/app/content/comment/ListedReply.java
  src/main/java/run/halo/app/content/comment/OwnerInfo.java
  src/main/java/run/halo/app/content/comment/PostCommentSubject.java
  src/main/java/run/halo/app/content/comment/ReplyQuery.java
  src/main/java/run/halo/app/content/comment/ReplyRequest.java
  src/main/java/run/halo/app/content/comment/ReplyService.java
  src/main/java/run/halo/app/content/comment/ReplyServiceImpl.java
  src/main/java/run/halo/app/content/comment/SinglePageCommentSubject.java
  src/main/java/run/halo/app/core/extension/Comment.java
  src/main/java/run/halo/app/core/extension/endpoint/CommentEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/ReplyEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/CommentReconciler.java
  src/main/java/run/halo/app/infra/SystemConfigurableEnvironmentFetcher.java
  src/main/java/run/halo/app/infra/utils/IpAddressUtils.java
  src/main/java/run/halo/app/plugin/ExtensionComponentsFinder.java
  src/main/java/run/halo/app/theme/finders/CommentFinder.java
  src/main/java/run/halo/app/theme/finders/impl/CommentFinderImpl.java
  src/main/resources/extensions/role-template-anonymous.yaml
  src/test/java/run/halo/app/content/comment/CommentEmailOwnerTest.java
  src/test/java/run/halo/app/content/comment/CommentQueryTest.java
  src/test/java/run/halo/app/content/comment/CommentRequestTest.java
  src/test/java/run/halo/app/content/comment/CommentServiceImplTest.java
  src/test/java/run/halo/app/content/comment/CommentSorterTest.java
  src/test/java/run/halo/app/content/comment/PostCommentSubjectTest.java
  src/test/java/run/halo/app/content/comment/SinglePageCommentSubjectTest.java
  src/test/java/run/halo/app/core/extension/reconciler/CommentReconcilerTest.java
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, release-note

#2419 refactor: rename api group for custom api
  docs/developer-guide/custom-endpoint.md
  src/main/java/run/halo/app/config/SwaggerConfig.java
  src/main/java/run/halo/app/core/extension/endpoint/CommentEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/ContentEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/CustomEndpointsBuilder.java
  src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/ReplyEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/SinglePageEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  src/main/java/run/halo/app/plugin/PluginRequestMappingHandlerMapping.java
  src/main/resources/extensions/role-template-anonymous.yaml
  src/main/resources/extensions/role-template-authenticated.yaml
  src/main/resources/extensions/role-template-permissions.yaml
  src/main/resources/extensions/role-template-user.yaml
  src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  src/test/java/run/halo/app/plugin/PluginRequestMappingHandlerMappingTest.java
  src/test/java/run/halo/app/security/authorization/RequestInfoResolverTest.java
Labels: lgtm, release-note-none, area/core, kind/api-change, approved, kind/improvement

#2422 Update CHANGELOG.md
  CHANGELOG.md
Labels: lgtm, release-note-none, approved, kind/documentation

#2429 Refactor CustomEndpoint for customizing GroupVersion
  src/main/java/run/halo/app/config/WebFluxConfig.java
  src/main/java/run/halo/app/core/extension/endpoint/CustomEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/CustomEndpointsBuilder.java
Labels: lgtm, release-note-none, approved, kind/improvement

#2415 feat: the ConfigMap named system to store user-defined configurations
  build.gradle
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/core/extension/reconciler/SystemSettingReconciler.java
  src/main/java/run/halo/app/infra/SystemConfigurableEnvironmentFetcher.java
  src/main/java/run/halo/app/infra/SystemSetting.java
  src/main/java/run/halo/app/plugin/SettingFetcher.java
  src/main/java/run/halo/app/theme/router/PermalinkPatternProvider.java
  src/main/resources/extensions/system-configurable-configmap.yaml
  src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  src/test/java/run/halo/app/core/extension/reconciler/SystemSettingReconcilerTest.java
  src/test/java/run/halo/app/infra/SystemConfigurableEnvironmentFetcherTest.java
  src/test/java/run/halo/app/theme/router/PermalinkPatternProviderTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2441 fix: category and tag query parameters in post query
  src/main/java/run/halo/app/content/PostQuery.java
Labels: lgtm, release-note-none, area/core, kind/api-change, approved, kind/improvement

#2436 feat: add more query predicates for post list
  src/main/java/run/halo/app/content/PostQuery.java
  src/main/java/run/halo/app/content/PostSorter.java
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/core/extension/Post.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2443 feat: any user who accesses the system has the anonymous role
  src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  src/main/java/run/halo/app/infra/AnonymousUserConst.java
  src/main/java/run/halo/app/security/authorization/DefaultRuleResolver.java
  src/main/java/run/halo/app/security/authorization/RequestInfoAuthorizationManager.java
  src/test/java/run/halo/app/security/authentication/jwt/JwtAuthenticationTest.java
  src/test/java/run/halo/app/security/authorization/AuthorizationTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2440 feat: create a configmap based on the setting definition when installing a theme
  src/main/java/run/halo/app/core/extension/Setting.java
  src/main/java/run/halo/app/core/extension/reconciler/ThemeReconciler.java
  src/main/resources/extensions/attachment-local-policy.yaml
  src/main/resources/extensions/system-setting.yaml
  src/test/java/run/halo/app/core/extension/SettingTest.java
  src/test/java/run/halo/app/core/extension/reconciler/ThemeReconcilerTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2453 Support configuring console location to access console
  src/main/java/run/halo/app/config/WebFluxConfig.java
  src/main/java/run/halo/app/infra/properties/ConsoleProperties.java
  src/main/java/run/halo/app/infra/properties/HaloProperties.java
  src/main/resources/application.yaml
  src/test/java/run/halo/app/config/WebFluxConfigTest.java
  src/test/resources/console/index.html
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2438 feat: add theme link expression dialect
  src/main/java/run/halo/app/theme/ThemeConfiguration.java
  src/main/java/run/halo/app/theme/ThemeLinkBuilder.java
  src/main/java/run/halo/app/theme/dialect/DefaultLinkExpressionFactory.java
  src/main/java/run/halo/app/theme/dialect/LinkExpressionObjectDialect.java
  src/test/java/run/halo/app/theme/dialect/LinkExpressionObjectDialectTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2456 feat: add theme setting reload API
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/test/java/run/halo/app/core/extension/endpoint/ThemeEndpointTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#2462 Fix the problem of generating permalink due to special filename
  .gitignore
  src/main/java/run/halo/app/core/extension/reconciler/attachment/AttachmentReconciler.java
  src/test/java/run/halo/app/core/extension/endpoint/AttachmentEndpointTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2466 Bump version of dependencies
  build.gradle
  src/main/java/run/halo/app/config/WebServerSecurityConfig.java
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#2433 feat: add comment list APIs for theme-side
  src/main/java/run/halo/app/config/SwaggerConfig.java
  src/main/java/run/halo/app/content/comment/CommentServiceImpl.java
  src/main/java/run/halo/app/content/comment/ReplyServiceImpl.java
  src/main/java/run/halo/app/core/extension/endpoint/CommentEndpoint.java
  src/main/java/run/halo/app/theme/dialect/CommentElementTagProcessor.java
  src/main/java/run/halo/app/theme/dialect/CommentWidget.java
  src/main/java/run/halo/app/theme/dialect/HaloProcessorDialect.java
  src/main/java/run/halo/app/theme/endpoint/CommentFinderEndpoint.java
  src/main/java/run/halo/app/theme/finders/impl/CommentFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/CommentVo.java
  src/main/java/run/halo/app/theme/finders/vo/ReplyVo.java
  src/main/resources/extensions/role-template-anonymous.yaml
  src/test/java/run/halo/app/content/comment/CommentServiceImplTest.java
  src/test/java/run/halo/app/theme/dialect/CommentElementTagProcessorTest.java
  src/test/java/run/halo/app/theme/endpoint/CommentFinderEndpointTest.java
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, release-note

#2457 fix: post excerptare generated using only published content that is in use
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2460 feat: add error log when permalink exists
  src/main/java/run/halo/app/theme/router/PermalinkIndexer.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2472 Support running Halo with PostgreSQL
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/main/resources/application-postgresql.yaml
  src/main/resources/schema-postgresql.sql
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2474 Fix empty listing of single page
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
  src/main/java/run/halo/app/core/extension/reconciler/SinglePageReconciler.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2477 perf: refine the extension definition for system setting
  src/main/resources/extensions/system-setting.yaml
Labels: lgtm, area/core, approved, release-note, kind/improvement

#2480 perf: change the default sort order of articles
  src/main/java/run/halo/app/content/PostSorter.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2479 Fix the problem of not being able to request SinglePage with slug name containing special characters
  src/main/java/run/halo/app/core/extension/reconciler/SinglePageReconciler.java
  src/main/java/run/halo/app/theme/engine/SpringWebFluxTemplateEngine.java
  src/main/java/run/halo/app/theme/router/PermalinkIndexer.java
  src/main/java/run/halo/app/theme/router/strategy/PermalinkPredicates.java
  src/main/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategy.java
  src/test/java/run/halo/app/theme/router/PermalinkIndexerTest.java
  src/test/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategyTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, kind/api-change, approved

#2486 refactor: reload theme.yaml when theme reload
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/test/java/run/halo/app/core/extension/endpoint/ThemeEndpointTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2484 feat: add location for theme
  src/main/java/run/halo/app/core/extension/Theme.java
  src/main/java/run/halo/app/core/extension/reconciler/ThemeReconciler.java
  src/test/java/run/halo/app/core/extension/reconciler/ThemeReconcilerTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2481 feat: add more query params and sorter for single page
  src/main/java/run/halo/app/content/SinglePageQuery.java
  src/main/java/run/halo/app/content/SinglePageSorter.java
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
  src/main/java/run/halo/app/core/extension/SinglePage.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#2489 Support filtering and sorting plugins
  src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/SortResolver.java
  src/main/java/run/halo/app/extension/ListResult.java
  src/test/java/run/halo/app/core/extension/endpoint/PluginEndpointTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2493 Fix the problem of changing password not exist before
  src/main/java/run/halo/app/core/extension/service/UserServiceImpl.java
  src/test/java/run/halo/app/core/extension/service/UserServiceImplTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2482 refactor: comment hidden default is false
  src/main/java/run/halo/app/content/comment/CommentServiceImpl.java
  src/test/java/run/halo/app/content/comment/CommentServiceImplTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2476 feat: add post and single page statistics
  src/main/java/run/halo/app/Application.java
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/content/ListedPost.java
  src/main/java/run/halo/app/content/ListedSinglePage.java
  src/main/java/run/halo/app/content/Stats.java
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
  src/main/java/run/halo/app/core/extension/Counter.java
  src/main/java/run/halo/app/core/extension/endpoint/CommentEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/StatsEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/TrackerEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/CommentReconciler.java
  src/main/java/run/halo/app/infra/SchemeInitializer.java
  src/main/java/run/halo/app/infra/utils/HaloUtils.java
  src/main/java/run/halo/app/metrics/CounterMeterHandler.java
  src/main/java/run/halo/app/metrics/CounterService.java
  src/main/java/run/halo/app/metrics/CounterServiceImpl.java
  src/main/java/run/halo/app/metrics/MeterUtils.java
  src/main/java/run/halo/app/metrics/VisitLogWriter.java
  src/main/java/run/halo/app/theme/dialect/GlobalHeadInjectionProcessor.java
  src/main/java/run/halo/app/theme/dialect/HaloTrackerProcessor.java
  src/main/java/run/halo/app/theme/endpoint/CommentFinderEndpoint.java
  src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/SinglePageFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/PostVo.java
  src/main/java/run/halo/app/theme/finders/vo/SinglePageVo.java
  src/main/java/run/halo/app/theme/finders/vo/StatsVo.java
  src/main/java/run/halo/app/theme/router/strategy/PostRouteStrategy.java
  src/main/java/run/halo/app/theme/router/strategy/SinglePageRouteStrategy.java
  src/main/resources/extensions/role-template-anonymous.yaml
  src/main/resources/extensions/role-template-authenticated.yaml
  src/main/resources/static/halo-tracker.js
  src/test/java/run/halo/app/content/impl/PostServiceImplTest.java
  src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  src/test/java/run/halo/app/core/extension/reconciler/CommentReconcilerTest.java
  src/test/java/run/halo/app/metrics/CounterMeterHandlerTest.java
  src/test/java/run/halo/app/metrics/CounterServiceImplTest.java
  src/test/java/run/halo/app/metrics/MeterUtilsTest.java
  src/test/java/run/halo/app/theme/finders/impl/PostFinderImplTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#2495 Fix the problem of granting role not taking effect
  src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  src/main/java/run/halo/app/core/extension/service/UserService.java
  src/main/java/run/halo/app/core/extension/service/UserServiceImpl.java
  src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  src/test/java/run/halo/app/core/extension/service/UserServiceImplTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#2496 chore: degrade springboot version from 3.0.0-M5 to 3.0.0-M4
  build.gradle
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2488 feat: add more role templates
  src/main/java/run/halo/app/core/extension/Role.java
  src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
  src/main/java/run/halo/app/security/authorization/RequestInfoFactory.java
  src/main/resources/extensions/role-template-attachment.yaml
  src/main/resources/extensions/role-template-category.yaml
  src/main/resources/extensions/role-template-comment.yaml
  src/main/resources/extensions/role-template-menu.yaml
  src/main/resources/extensions/role-template-post.yaml
  src/main/resources/extensions/role-template-singlepage.yaml
  src/main/resources/extensions/role-template-snaphost.yaml
  src/main/resources/extensions/role-template-tag.yaml
  src/main/resources/extensions/role-template-theme.yaml
  src/main/resources/extensions/system-default-role.yaml
  src/test/java/run/halo/app/security/authorization/RequestInfoResolverTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2497 feat: add retry operation for post and single page when publish and update
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2492 docs: update readme for Halo 2.0
  README.md
Labels: lgtm, release-note-none, approved, kind/documentation

#2498 fix: total comment count for page and singlepage
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2499 Change condition of docker push for releasing
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, approved, kind/improvement
