Repository halo-dev/halo, pull requests merged in 2022-08, with the labels that each got.

#2290 Add IN operator for fieldSelector and labelSelector
  src/main/java/run/halo/app/extension/router/selector/FieldCriteriaPredicateConverter.java
  src/main/java/run/halo/app/extension/router/selector/Operator.java
  src/test/java/run/halo/app/extension/router/selector/FieldCriteriaPredicateConverterTest.java
  src/test/java/run/halo/app/extension/router/selector/OperatorTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#2280 feat: specific implementation of theme design
  src/main/java/run/halo/app/config/HaloConfiguration.java
  src/main/java/run/halo/app/config/WebFluxConfig.java
  src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  src/main/java/run/halo/app/core/extension/Theme.java
  src/main/java/run/halo/app/infra/NotFoundException.java
  src/main/java/run/halo/app/infra/SchemeInitializer.java
  src/main/java/run/halo/app/infra/SystemConfigurableEnvironmentFetcher.java
  src/main/java/run/halo/app/infra/SystemSetting.java
  src/main/java/run/halo/app/infra/properties/HaloProperties.java
  src/main/java/run/halo/app/infra/utils/FilePathUtils.java
  src/main/java/run/halo/app/infra/utils/PathUtils.java
  src/main/java/run/halo/app/theme/HaloViewResolver.java
  src/main/java/run/halo/app/theme/TemplateEngineManager.java
  src/main/java/run/halo/app/theme/ThemeConfiguration.java
  src/main/java/run/halo/app/theme/ThemeContext.java
  src/main/java/run/halo/app/theme/ThemeLinkBuilder.java
  src/main/java/run/halo/app/theme/ThemeLocaleContextResolver.java
  src/main/java/run/halo/app/theme/ThemeResolver.java
  src/main/java/run/halo/app/theme/engine/SpringTemplateEngine.java
  src/main/java/run/halo/app/theme/engine/SpringWebFluxTemplateEngine.java
  src/main/java/run/halo/app/theme/message/ThemeMessageResolutionUtils.java
  src/main/java/run/halo/app/theme/message/ThemeMessageResolver.java
  src/main/resources/extensions/system-configurable-configmap.yaml
  src/test/java/run/halo/app/theme/ThemeContextTest.java
  src/test/java/run/halo/app/theme/ThemeLinkBuilderTest.java
  src/test/java/run/halo/app/theme/ThemeLocaleContextResolverTest.java
  src/test/java/run/halo/app/theme/message/ThemeMessageResolutionUtilsTest.java
  src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
  src/test/resources/application.yaml
  src/test/resources/themes/default/i18n/default.properties
  src/test/resources/themes/default/i18n/en.properties
  src/test/resources/themes/default/templates/index.html
  src/test/resources/themes/other/i18n/default.properties
  src/test/resources/themes/other/i18n/en.properties
  src/test/resources/themes/other/templates/index.html
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2300 Replace JSON schema with OpenAPI 3.0
  build.gradle
  src/main/java/run/halo/app/config/SwaggerConfig.java
  src/main/java/run/halo/app/extension/JSONExtensionConverter.java
  src/main/java/run/halo/app/extension/Scheme.java
  src/main/java/run/halo/app/extension/Unstructured.java
  src/main/java/run/halo/app/extension/exception/SchemaViolationException.java
  src/test/java/run/halo/app/extension/JsonExtensionConverterTest.java
  src/test/java/run/halo/app/extension/SchemeTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2297 feat: Theme temporals supports time zone
  src/main/java/run/halo/app/theme/ThemeConfiguration.java
  src/main/java/run/halo/app/theme/dialect/DefaultJava8TimeExpressionFactory.java
  src/main/java/run/halo/app/theme/dialect/ThemeJava8TimeDialect.java
  src/test/java/run/halo/app/theme/dialect/ThemeJava8TimeDialectIntegrationTest.java
  src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
  src/test/resources/themes/default/templates/timezone.html
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2299 refactor: support configuration settings and configmap name
  src/main/java/run/halo/app/core/extension/Theme.java
  src/test/java/run/halo/app/core/extension/ThemeTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2302 feat: add theme install endpoint
  .gitignore
  src/main/java/run/halo/app/core/extension/Setting.java
  src/main/java/run/halo/app/core/extension/Theme.java
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/main/java/run/halo/app/extension/ConfigMap.java
  src/main/java/run/halo/app/infra/ThemeInstallationException.java
  src/main/java/run/halo/app/infra/utils/FileUtils.java
  src/test/java/run/halo/app/core/extension/endpoint/ThemeEndpointTest.java
  src/test/resources/themes/test-theme.zip
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2319 chore: update reviewers for OWNERS file
  OWNERS
Labels: lgtm, release-note-none, approved

#2315 feat: add theme uninstall endpoint
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/core/extension/endpoint/ThemeEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/ThemeReconciler.java
  src/main/java/run/halo/app/infra/exception/NotFoundException.java
  src/main/java/run/halo/app/infra/exception/ThemeInstallationException.java
  src/main/java/run/halo/app/infra/exception/ThemeUninstallException.java
  src/main/java/run/halo/app/theme/TemplateEngineManager.java
  src/main/java/run/halo/app/theme/ThemePathPolicy.java
  src/test/java/run/halo/app/core/extension/reconciler/ThemeReconcilerTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#2303 Add Menu and MenuItem Extension
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/core/extension/Menu.java
  src/main/java/run/halo/app/core/extension/MenuItem.java
  src/main/java/run/halo/app/core/extension/reconciler/MenuItemReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/MenuReconciler.java
  src/main/java/run/halo/app/infra/SchemeInitializer.java
  src/test/java/run/halo/app/core/extension/reconciler/MenuItemReconcilerTest.java
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, release-note

#2321 feat: support fixed plugin path for development mode
  src/main/java/run/halo/app/plugin/DefaultDevelopmentPluginRepository.java
  src/main/java/run/halo/app/plugin/PluginAutoConfiguration.java
  src/main/java/run/halo/app/plugin/PluginDevelopmentInitializer.java
  src/main/java/run/halo/app/plugin/PluginProperties.java
  src/main/java/run/halo/app/plugin/PluginRequestMappingHandlerMapping.java
  src/main/java/run/halo/app/plugin/SettingFetcher.java
  src/test/java/run/halo/app/plugin/SettingFetcherTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2317 fix: fail to delete multiple files if the files are removed from upstream storage
  src/main/java/run/halo/app/handler/file/QiniuOssFileHandler.java
  src/main/java/run/halo/app/handler/file/UpOssFileHandler.java
Labels: kind/bug, lgtm, release-note-none, approved

#2333 Extract generateListResultClass into ListResult
  src/main/java/run/halo/app/extension/ListResult.java
  src/main/java/run/halo/app/extension/router/ExtensionRouterFunctionFactory.java
  src/test/java/run/halo/app/extension/ListResultTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2331 fix: Qiniuoss cannot upload non image attachments
  src/main/java/run/halo/app/handler/file/QiniuOssFileHandler.java
Labels: kind/bug, lgtm, approved, release-note

#2326 feat: add post module basic implementation
  build.gradle
  src/main/java/run/halo/app/config/ExtensionConfiguration.java
  src/main/java/run/halo/app/content/ContentRequest.java
  src/main/java/run/halo/app/content/ContentService.java
  src/main/java/run/halo/app/content/ContentWrapper.java
  src/main/java/run/halo/app/content/Contributor.java
  src/main/java/run/halo/app/content/ListedPost.java
  src/main/java/run/halo/app/content/PatchUtils.java
  src/main/java/run/halo/app/content/PostQuery.java
  src/main/java/run/halo/app/content/PostRequest.java
  src/main/java/run/halo/app/content/PostService.java
  src/main/java/run/halo/app/content/impl/ContentServiceImpl.java
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/core/extension/Category.java
  src/main/java/run/halo/app/core/extension/Comment.java
  src/main/java/run/halo/app/core/extension/Post.java
  src/main/java/run/halo/app/core/extension/Reply.java
  src/main/java/run/halo/app/core/extension/Snapshot.java
  src/main/java/run/halo/app/core/extension/Tag.java
  src/main/java/run/halo/app/core/extension/endpoint/ContentEndpoint.java
  src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/main/java/run/halo/app/extension/ListResult.java
  src/main/java/run/halo/app/infra/Condition.java
  src/main/java/run/halo/app/infra/ConditionStatus.java
  src/main/java/run/halo/app/infra/SchemeInitializer.java
  src/test/java/run/halo/app/content/ContentRequestTest.java
  src/test/java/run/halo/app/content/ContentServiceTest.java
  src/test/java/run/halo/app/content/TestPost.java
  src/test/java/run/halo/app/content/impl/PostServiceImplTest.java
  src/test/java/run/halo/app/core/extension/endpoint/PostEndpointTest.java
  src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
  src/test/java/run/halo/app/extension/ListResultTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2343 Implement simple garbage collector to collect deletable extensions
  src/main/java/run/halo/app/core/extension/reconciler/MenuItemReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/MenuReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/RoleBindingReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/RoleReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/ThemeReconciler.java
  src/main/java/run/halo/app/core/extension/reconciler/UserReconciler.java
  src/main/java/run/halo/app/extension/Metadata.java
  src/main/java/run/halo/app/extension/MetadataOperator.java
  src/main/java/run/halo/app/extension/Unstructured.java
  src/main/java/run/halo/app/extension/controller/ControllerBuilder.java
  src/main/java/run/halo/app/extension/controller/DefaultController.java
  src/main/java/run/halo/app/extension/controller/DefaultDelayQueue.java
  src/main/java/run/halo/app/extension/controller/ExtensionWatcher.java
  src/main/java/run/halo/app/extension/controller/Reconciler.java
  src/main/java/run/halo/app/extension/controller/RequestQueue.java
  src/main/java/run/halo/app/extension/controller/RequestSynchronizer.java
  src/main/java/run/halo/app/extension/controller/Synchronizer.java
  src/main/java/run/halo/app/extension/gc/GarbageCollectorConfiguration.java
  src/main/java/run/halo/app/extension/gc/GcReconciler.java
  src/main/java/run/halo/app/extension/gc/GcRequest.java
  src/main/java/run/halo/app/extension/gc/GcSynchronizer.java
  src/main/java/run/halo/app/extension/gc/GcWatcher.java
  src/main/java/run/halo/app/extension/store/ExtensionStoreClientJPAImpl.java
  src/main/java/run/halo/app/infra/utils/JsonUtils.java
  src/test/java/run/halo/app/content/ContentRequestTest.java
  src/test/java/run/halo/app/core/extension/SettingTest.java
  src/test/java/run/halo/app/core/extension/ThemeTest.java
  src/test/java/run/halo/app/extension/MetadataOperatorTest.java
  src/test/java/run/halo/app/extension/UnstructuredTest.java
  src/test/java/run/halo/app/extension/controller/DefaultControllerTest.java
  src/test/java/run/halo/app/extension/controller/DefaultDelayQueueTest.java
  src/test/java/run/halo/app/extension/controller/ExtensionWatcherTest.java
  src/test/java/run/halo/app/extension/gc/GcReconcilerTest.java
  src/test/java/run/halo/app/extension/gc/GcWatcherTest.java
  src/test/java/run/halo/app/plugin/YamlPluginFinderTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#2340 refactor: comments are converted to publish before sending reply email
  src/main/java/run/halo/app/listener/comment/CommentEventListener.java
  src/main/java/run/halo/app/service/impl/BaseCommentServiceImpl.java
Labels: kind/bug, lgtm, approved, release-note

#2350 feat: update post in progress status when post changed
  src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#2347 feat: add theme-side business data query model
  src/main/java/run/halo/app/core/extension/Category.java
  src/main/java/run/halo/app/core/extension/Tag.java
  src/main/java/run/halo/app/theme/HaloViewResolver.java
  src/main/java/run/halo/app/theme/engine/SpringWebFluxTemplateEngine.java
  src/main/java/run/halo/app/theme/finders/CategoryFinder.java
  src/main/java/run/halo/app/theme/finders/CommentFinder.java
  src/main/java/run/halo/app/theme/finders/Contributor.java
  src/main/java/run/halo/app/theme/finders/ContributorFinder.java
  src/main/java/run/halo/app/theme/finders/Finder.java
  src/main/java/run/halo/app/theme/finders/FinderRegistry.java
  src/main/java/run/halo/app/theme/finders/MenuFinder.java
  src/main/java/run/halo/app/theme/finders/PostFinder.java
  src/main/java/run/halo/app/theme/finders/TagFinder.java
  src/main/java/run/halo/app/theme/finders/impl/CategoryFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/CommentFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/ContributorFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/MenuFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  src/main/java/run/halo/app/theme/finders/impl/TagFinderImpl.java
  src/main/java/run/halo/app/theme/finders/vo/BaseCategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/BaseCommentVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryTreeVo.java
  src/main/java/run/halo/app/theme/finders/vo/CategoryVo.java
  src/main/java/run/halo/app/theme/finders/vo/CommentVo.java
  src/main/java/run/halo/app/theme/finders/vo/ContentVo.java
  src/main/java/run/halo/app/theme/finders/vo/MenuItemVo.java
  src/main/java/run/halo/app/theme/finders/vo/MenuVo.java
  src/main/java/run/halo/app/theme/finders/vo/PostVo.java
  src/main/java/run/halo/app/theme/finders/vo/ReplyVo.java
  src/main/java/run/halo/app/theme/finders/vo/TagVo.java
  src/test/java/run/halo/app/theme/finders/FinderRegistryTest.java
  src/test/java/run/halo/app/theme/finders/impl/CategoryFinderImplTest.java
  src/test/java/run/halo/app/theme/finders/impl/MenuFinderImplTest.java
  src/test/java/run/halo/app/theme/finders/impl/PostFinderImplTest.java
  src/test/java/run/halo/app/theme/finders/impl/TagFinderImplTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved
