Repository halo-dev/halo, pull requests merged in 2023-08, with the labels that each got.

#4334 chore: update zh-cn translation for refresh search engine operation
  console/src/locales/zh-CN.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4335 chore: update zh-tw translation for refresh search engine operation
  console/src/locales/zh-TW.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4333 fix: not reset permission after cloning a role
  console/src/modules/system/roles/RoleList.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4341 chore: bump console version to prepare release 2.8
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, kind/cleanup, approved

#4344 Prepare for developing Halo 2.9.0
  README.md
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4345 Prepare for developing Halo 2.8.1
  .github/workflows/halo.yaml
  README.md
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4356 chore: move the ExtensionVoOperator to the api directory so that the plugin can implement the interface
  api/src/main/java/run/halo/app/theme/finders/vo/ExtensionVoOperator.java
Labels: lgtm, release-note-none, approved, kind/improvement

#4370 docs: add appstore link in readme
  README.md
Labels: lgtm, release-note-none, approved, kind/documentation

#4355 fix: resolve the issue of users being able to delete themselves.
  console/src/modules/system/users/UserList.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4358 pref: scroll to the error location when form submission validation fails
  console/src/formkit/formkit.config.ts
  console/src/formkit/plugins/auto-scroll-to-errors.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4371 fix: add random uuid to resolve the issue of id conflicts
  console/src/components/form/AnnotationsForm.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4384 Upgrade to SpringDoc 2.2.0 for OpenAPI 3.1 support
  application/src/main/resources/application-dev.yaml
  platform/application/build.gradle
Labels: lgtm, kind/cleanup, approved, release-note

#4369 fix: resolve the issue of ineffective duplicate key validation in AnnotationsForm
  console/src/components/form/AnnotationsForm.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4392 Move Backup extension into api module
  api/src/main/java/run/halo/app/migration/Backup.java
  api/src/main/java/run/halo/app/migration/Constant.java
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4361 Support restarting Halo
  application/build.gradle
  application/src/main/java/run/halo/app/actuator/RestartEndpoint.java
  application/src/main/resources/application.yaml
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/backup/tabs/Restore.vue
Labels: kind/feature, lgtm, area/core, approved, release-note

#4306 refactor: improve the system initialization process
  api/src/main/java/run/halo/app/infra/utils/JsonUtils.java
  application/src/main/java/run/halo/app/actuator/GlobalInfoEndpoint.java
  application/src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  application/src/main/java/run/halo/app/core/extension/endpoint/SystemInitializationEndpoint.java
  application/src/main/java/run/halo/app/infra/DefaultInitializationStateGetter.java
  application/src/main/java/run/halo/app/infra/InitializationStateGetter.java
  application/src/main/java/run/halo/app/infra/SetupStateCache.java
  application/src/main/java/run/halo/app/infra/SystemState.java
  application/src/main/java/run/halo/app/infra/properties/HaloProperties.java
  application/src/main/java/run/halo/app/infra/properties/SecurityProperties.java
  application/src/main/java/run/halo/app/security/DefaultSuperAdminInitializer.java
  application/src/main/java/run/halo/app/security/InitializeRedirectionWebFilter.java
  application/src/main/java/run/halo/app/security/SuperAdminInitializer.java
  application/src/main/resources/application-dev.yaml
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
  application/src/main/resources/extensions/role-template-anonymous.yaml
  application/src/test/java/run/halo/app/core/extension/endpoint/SystemInitializationEndpointTest.java
  application/src/test/java/run/halo/app/infra/InitializationStateGetterTest.java
  application/src/test/java/run/halo/app/infra/SystemStateTest.java
  application/src/test/java/run/halo/app/security/InitializeRedirectionWebFilterTest.java
  application/src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-system-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/system-initialization-request.ts
  console/src/App.vue
  console/src/components/common/LocaleChange.vue
  console/src/components/login/SocialAuthProviderItem.vue
  console/src/composables/use-global-info.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/main.ts
  console/src/modules/system/actuator/Actuator.vue
  console/src/modules/system/users/Login.vue
  console/src/router/guards/check-states.ts
  console/src/router/index.ts
  console/src/router/routes.config.ts
  console/src/stores/global-info.ts
  console/src/stores/system-states.ts
  console/src/types/actuator.ts
  console/src/types/index.ts
  console/src/utils/api-client.ts
  console/src/views/system/Setup.vue
  console/src/views/system/SetupInitialData.vue
  console/tsconfig.app.json
Labels: lgtm, area/core, area/console, release-note, kind/improvement

#4391 Refactor the transformation between data buffers and input stream
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeEndpoint.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeService.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeServiceImpl.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeUtils.java
  application/src/main/java/run/halo/app/infra/DefaultThemeInitializer.java
  application/src/main/java/run/halo/app/infra/utils/DataBufferUtils.java
  application/src/main/java/run/halo/app/infra/utils/FileUtils.java
  application/src/main/java/run/halo/app/migration/impl/MigrationServiceImpl.java
  application/src/test/java/run/halo/app/core/extension/theme/ThemeEndpointTest.java
  application/src/test/java/run/halo/app/core/extension/theme/ThemeServiceImplTest.java
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4411 chore: bump formkit version to 0.17.5
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, kind/cleanup, approved, area/console, release-note

#4422 Support getting backup root path in plugin
  api/src/main/java/run/halo/app/infra/BackupRootGetter.java
  application/src/main/java/run/halo/app/infra/DefaultBackupRootGetter.java
  application/src/main/java/run/halo/app/migration/impl/MigrationServiceImpl.java
  application/src/main/java/run/halo/app/plugin/SharedApplicationContextHolder.java
  application/src/test/java/run/halo/app/infra/DefaultBackupRootGetterTest.java
  application/src/test/java/run/halo/app/migration/impl/MigrationServiceImplTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#4419 pref: allow annotations value to be empty
  console/src/components/form/AnnotationsForm.vue
Labels: lgtm, approved, release-note, kind/improvement

#4431 fix: handle external exceptions when uploading files
  console/src/components/upload/UppyUpload.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4385 fix: incorrect scope for haloCommentEnabled template variable
  application/src/main/java/run/halo/app/theme/dialect/CommentElementTagProcessor.java
  application/src/main/java/run/halo/app/theme/dialect/CommentEnabledVariableProcessor.java
  application/src/main/java/run/halo/app/theme/dialect/HaloProcessorDialect.java
  application/src/test/java/run/halo/app/theme/ReactiveFinderExpressionParserTests.java
  application/src/test/java/run/halo/app/theme/dialect/CommentElementTagProcessorTest.java
  application/src/test/java/run/halo/app/theme/dialect/CommentEnabledVariableProcessorTest.java
  application/src/test/java/run/halo/app/theme/dialect/ContentTemplateHeadProcessorIntegrationTest.java
  application/src/test/java/run/halo/app/theme/dialect/HaloProcessorDialectTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4427 chore: bump vue related packages version
  console/index.html
  console/package.json
  console/packages/components/package.json
  console/packages/components/src/components/button/__tests__/__snapshots__/Button.spec.ts.snap
  console/packages/components/src/components/empty/__tests__/__snapshots__/Empty.spec.ts.snap
  console/packages/components/src/components/menu/__tests__/__snapshots__/Menu.spec.tsx.snap
  console/packages/components/src/components/menu/__tests__/__snapshots__/MenuLabel.spec.ts.snap
  console/packages/components/src/components/status/__tests__/__snapshots__/StatusDot.spec.ts.snap
  console/packages/shared/package.json
  console/pnpm-lock.yaml
  console/src/build/library-external.ts
  console/src/modules/interface/menus/utils/__tests__/__snapshots__/index.spec.ts.snap
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4428 chore: bump formkit version to 0.18.0
  console/env.d.ts
  console/package.json
  console/pnpm-lock.yaml
  console/src/formkit/inputs/attachment-group-select.ts
  console/src/formkit/inputs/attachment-policy-select.ts
  console/src/formkit/inputs/attachment/index.ts
  console/src/formkit/inputs/category-checkbox.ts
  console/src/formkit/inputs/category-select/index.ts
  console/src/formkit/inputs/menu-checkbox.ts
  console/src/formkit/inputs/menu-item-select.ts
  console/src/formkit/inputs/menu-radio.ts
  console/src/formkit/inputs/post-select.ts
  console/src/formkit/inputs/repeater/index.ts
  console/src/formkit/inputs/role-select.ts
  console/src/formkit/inputs/singlePage-select.ts
  console/src/formkit/inputs/tag-checkbox.ts
  console/src/formkit/inputs/tag-select/index.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#4434 feat: add reveal button for password input
  console/src/formkit/formkit.config.ts
  console/src/formkit/inputs/password/RevealButton.vue
  console/src/formkit/inputs/password/index.ts
  console/src/styles/index.css
Labels: kind/feature, lgtm, approved, area/console, release-note

#4445 perf: increasing the editor performance
  console/src/components/editor/DefaultEditor.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4403 refactor: optimize plugin status updates in plugin reconciler
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#4410 refactor: improve plugin upgrade related code to resolve performance issue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4454 fix: incorrect started plugin records obtained from plugin manager
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4462 Fix the problem that it is always in deleting phase after deleting backups
  application/src/main/java/run/halo/app/migration/impl/MigrationServiceImpl.java
  application/src/test/java/run/halo/app/migration/impl/MigrationServiceImplTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4463 docs: add ProductHunt badge in README.md
  README.md
Labels: lgtm, release-note-none, approved, kind/documentation

#4481 fix: the search for comments by username yields empty results
  console/src/modules/contents/comments/CommentList.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3444 feat: add API to obtain the bundled js file for all enabled plugins
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/PluginService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/main/java/run/halo/app/plugin/resources/BundleResourceUtils.java
  application/src/main/resources/extensions/role-template-authenticated.yaml
  console/docs/extension-points/editor.md
  console/packages/shared/src/states/editor.ts
  console/src/components/dropdown-selector/EditorProviderSelector.vue
  console/src/components/editor/DefaultEditor.vue
  console/src/composables/use-editor-extension-points.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/main.ts
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
  console/src/modules/system/plugins/PluginDetail.vue
  console/src/setup/setupModules.ts
  console/src/stores/plugin.ts
  console/src/utils/load-style.ts
Labels: kind/feature, lgtm, area/core, approved, release-note

#4453 feat: add mouse scrolling handler for tabs component
  console/packages/components/src/components/tabs/Tabbar.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4478 Upgrade Spring Boot to 3.1.3
  api/src/main/java/run/halo/app/infra/utils/GenericClassUtils.java
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4479 Upgrade Lucene to 9.7.0
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4452 feat: add extension point for extend data list operation items
  console/docs/extension-points/entity-listitem-operation.md
  console/packages/shared/src/index.ts
  console/packages/shared/src/states/entity.ts
  console/packages/shared/src/types/plugin.ts
  console/src/components/entity/EntityDropdownItems.vue
  console/src/composables/use-entity-extension-points.ts
  console/src/modules/contents/posts/components/PostListItem.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4472 refactor: remove the confirmation box of the enable/disable plugin
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/plugins/composables/use-plugin.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4489 chore: register AttachmentFileTypeIcon component globally
  console/src/components/icon/AttachmentFileTypeIcon.vue
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/components/selector-providers/CoreSelectorProvider.vue
  console/src/setup/setupComponents.ts
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#4412 feat: support displaying private posts for owner on theme-side
  application/src/main/java/run/halo/app/theme/finders/PostPublicQueryService.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostPublicQueryServiceImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/SinglePageFinderImpl.java
  application/src/main/java/run/halo/app/theme/router/DefaultQueryPostPredicateResolver.java
  application/src/main/java/run/halo/app/theme/router/ReactiveQueryPostPredicateResolver.java
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  application/src/main/java/run/halo/app/theme/router/TitleVisibilityIdentifyCalculator.java
  application/src/main/java/run/halo/app/theme/router/factories/ArchiveRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/AuthorPostsRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/CategoryPostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/IndexRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/TagPostRouteFactory.java
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
  application/src/test/java/run/halo/app/theme/finders/impl/PostFinderImplTest.java
  application/src/test/java/run/halo/app/theme/router/ReactiveQueryPostPredicateResolverTest.java
  application/src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
  application/src/test/java/run/halo/app/theme/router/factories/PostRouteFactoryTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#4416 fix: style issue of post widget when post title is too long
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/posts/widgets/RecentPublishedWidget.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4451 pref: user list supports searching by username
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/test/java/run/halo/app/core/extension/endpoint/UserEndpointIntegrationTest.java
  application/src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4487 chore: bump uppy related packages version
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, kind/cleanup, approved, area/console, release-note

#4480 fix: unable to use plugin development mode on Windows systems
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4474 Support restoring with downloadable URL or backup name
  application/src/main/java/run/halo/app/migration/MigrationEndpoint.java
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-plugin-api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-theme-api.ts
  console/packages/api-client/src/api/api-console-migration-halo-run-v1alpha1-migration-api.ts
Labels: kind/feature, lgtm, area/core, approved, release-note

#4461 Refactor plugin installation modal to support extend
  console/docs/extension-points/plugin-installation-tabs.md
  console/packages/shared/src/index.ts
  console/packages/shared/src/states/plugin-installation-tabs.ts
  console/packages/shared/src/types/plugin.ts
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/components/PluginInstallationModal.vue
  console/src/modules/system/plugins/components/PluginUploadModal.vue
  console/src/modules/system/plugins/components/installation-tabs/LocalUpload.vue
  console/src/modules/system/plugins/components/installation-tabs/RemoteDownload.vue
  console/src/modules/system/plugins/constants/index.ts
  console/src/modules/system/plugins/types/index.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#4484 fix: setup state is not set due to an exception when initializing the data
  console/src/views/system/SetupInitialData.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4486 fix: newly added setting item are not taking effect
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeServiceImpl.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4473 refactor: remove the pagination feature of plugin management
  console/src/modules/system/plugins/PluginList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4456 Refine search result by customizing analyzer
  api/build.gradle
  application/src/main/java/run/halo/app/search/post/LucenePostSearchService.java
  platform/application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4482 feat: add batch operation feature for plugins
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/components/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewListItem.vue
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/plugins/composables/use-plugin.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#4490 chore: bump @halo-dev/richtext-editor version to alpha.30
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/editor/DefaultEditor.vue
Labels: lgtm, kind/cleanup, approved, area/console, release-note

#4458 pref: optimize the caching functionality of content editing
  console/src/composables/use-auto-save-content.ts
  console/src/composables/use-content-cache.ts
  console/src/composables/use-content-snapshot.ts
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: lgtm, approved, release-note, kind/improvement

#4495 chore: update repository config for console packages
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, kind/cleanup, approved, area/console

#4500 feat: display total items text for plugins list
  console/src/modules/system/plugins/PluginList.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4507 feat: add supports for system restore by remote url
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/backup/tabs/Restore.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4508 feat: make backup list item operations extendable
  console/docs/extension-points/entity-listitem-operation.md
  console/packages/shared/src/types/plugin.ts
  console/src/modules/system/backup/components/BackupListItem.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4501 fix: resolve the display bug after publishing content
  console/src/composables/use-auto-save-content.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#4502 fix: approved filter in comment management is ineffective
  console/src/modules/contents/comments/CommentList.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4505 Refactor theme list modal to support extend
  console/docs/extension-points/theme-list-tabs.md
  console/packages/shared/src/index.ts
  console/packages/shared/src/states/theme-list-tabs.ts
  console/packages/shared/src/types/plugin.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/ThemeDetail.vue
  console/src/modules/interface/themes/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/ThemeUploadModal.vue
  console/src/modules/interface/themes/components/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/list-tabs/InstalledThemes.vue
  console/src/modules/interface/themes/components/list-tabs/LocalUpload.vue
  console/src/modules/interface/themes/components/list-tabs/NotInstalledThemes.vue
  console/src/modules/interface/themes/components/list-tabs/RemoteDownload.vue
  console/src/modules/interface/themes/constants/index.ts
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
  console/src/modules/interface/themes/types/index.ts
  console/src/modules/system/plugins/components/PluginInstallationModal.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4506 fix: failed to change plugin status
  console/src/modules/system/plugins/composables/use-plugin.ts
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4524 feat: add schema-mariadb.sql file
  application/src/main/resources/schema-mariadb.sql
Labels: kind/feature, lgtm, release-note-none, approved

#4521 fix: style issue of tabbar component of default type
  console/packages/components/src/components/tabs/Tabbar.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4514 feat: add extension point for extend field items of data list
  console/docs/extension-points/entity-listitem-field.md
  console/packages/shared/src/states/entity.ts
  console/packages/shared/src/types/plugin.ts
  console/src/components/entity-fields/EntityFieldItems.vue
  console/src/components/entity-fields/StatusDotField.vue
  console/src/composables/use-entity-extension-points.ts
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/plugins/components/entity-fields/AuthorField.vue
  console/src/modules/system/plugins/components/entity-fields/LogoField.vue
  console/src/modules/system/plugins/components/entity-fields/SwitchField.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4518 refactor: disable auto dispose feature of dropdown component
  console/package.json
  console/packages/components/package.json
  console/packages/components/src/components/dropdown/Dropdown.vue
  console/pnpm-lock.yaml
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4515 feat: add entity param for list item operation extension point
  console/docs/extension-points/entity-listitem-operation.md
  console/packages/shared/src/types/plugin.ts
  console/src/composables/use-entity-extension-points.ts
  console/src/modules/contents/posts/components/PostListItem.vue
  console/src/modules/system/backup/components/BackupListItem.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
Labels: kind/feature, release-note-none, approved, area/console

#4526 Fix the problem that deletable extensions created by plugins cannot be recycled
  application/src/main/java/run/halo/app/extension/gc/GcReconciler.java
  application/src/main/java/run/halo/app/extension/gc/GcSynchronizer.java
  application/src/test/java/run/halo/app/extension/gc/GcSynchronizerTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4523 feat: make theme list item operations extendable
  console/docs/extension-points/entity-listitem-operation.md
  console/packages/shared/src/types/plugin.ts
  console/src/modules/interface/themes/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/operation/UninstallOperationItem.vue
Labels: kind/feature, lgtm, approved, area/console, release-note
