Repository halo-dev/halo, pull requests merged in 2023-04, with the labels that each got.

#3653 Bump up version to 2.5.0-SNAPSHOT
  README.md
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3663 fix: attachment policy editing modal crashes when opened
  console/src/modules/contents/attachments/components/AttachmentPolicyEditingModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3665 fix: route title i18n in global search is not compatible
  console/src/components/global-search/GlobalSearchModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3671 fix: publish time of the post cannot be displayed back
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/pages/components/SinglePageSettingModal.vue
  console/src/modules/contents/posts/PostEditor.vue
  console/src/modules/contents/posts/components/PostSettingModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3658 Fix the problem of ServerHttpResponse already committed after logging in
  application/src/main/java/run/halo/app/security/authentication/login/UsernamePasswordAuthenticator.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3668 fix: radio value type is incorrect in the form defined by formkit schema
  console/src/modules/contents/attachments/components/AttachmentPolicyEditingModal.vue
  console/src/modules/interface/themes/ThemeSetting.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
  console/src/modules/system/auth-providers/AuthProviderDetail.vue
  console/src/modules/system/plugins/PluginSetting.vue
  console/src/modules/system/settings/SystemSetting.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3655 Configure default external-url as slash
  application/src/main/resources/application.yaml
  console/.env.development
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3680 Automated cherry pick of #3668: fix: radio value type is incorrect in the form defined by
  console/src/modules/contents/attachments/components/AttachmentPolicyEditingModal.vue
  console/src/modules/interface/themes/ThemeSetting.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
  console/src/modules/system/auth-providers/AuthProviderDetail.vue
  console/src/modules/system/plugins/PluginSetting.vue
  console/src/modules/system/settings/SystemSetting.vue
Labels: kind/bug, lgtm, approved, area/console

#3682 chore: bump @halo-dev/richtext-editor version to resolve i18n issue
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3681 Bump up version to 2.4.1
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, kind/cleanup, approved

#3686 Move common classes related to theme into api module
  api/src/main/java/run/halo/app/extension/router/selector/FieldCriteriaPredicateConverter.java
  api/src/main/java/run/halo/app/extension/router/selector/LabelCriteriaPredicateConverter.java
  api/src/main/java/run/halo/app/extension/router/selector/Operator.java
  api/src/main/java/run/halo/app/extension/router/selector/SelectorConverter.java
  api/src/main/java/run/halo/app/extension/router/selector/SelectorCriteria.java
  api/src/main/java/run/halo/app/extension/router/selector/SelectorUtil.java
  api/src/main/java/run/halo/app/theme/finders/Finder.java
  api/src/main/java/run/halo/app/theme/router/PageUrlUtils.java
  api/src/main/java/run/halo/app/theme/router/UrlContextListResult.java
  api/src/test/java/run/halo/app/extension/router/selector/FieldCriteriaPredicateConverterTest.java
  api/src/test/java/run/halo/app/extension/router/selector/LabelCriteriaPredicateConverterTest.java
  api/src/test/java/run/halo/app/extension/router/selector/OperatorTest.java
  api/src/test/java/run/halo/app/extension/router/selector/SelectorConverterTest.java
  api/src/test/java/run/halo/app/extension/router/selector/SelectorUtilTest.java
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3691 fix: lost the activated theme settings when saving the system settings
  console/src/composables/use-setting-form.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#3703 Add support defining custom endpoint in plugin
  application/src/main/java/run/halo/app/core/extension/endpoint/CustomEndpointsBuilder.java
  application/src/main/java/run/halo/app/plugin/PluginCompositeRouterFunction.java
  application/src/test/java/run/halo/app/plugin/PluginCompositeRouterFunctionTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved, area/plugin

#3708 chore: bump up version to 2.4.2
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, approved

#3706 fix: the setting form of the preview theme page may not be rendered
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3709 Set property server.forward-header-strategy to framework by default
  application/src/main/resources/application.yaml
  application/src/test/java/run/halo/app/XForwardHeaderTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3707 Enable mapper feature: accept case-insensitive enums
  application/src/main/java/run/halo/app/config/HaloConfiguration.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3727 fix: repeated display of theme tabs.
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
  console/src/modules/system/plugins/layouts/PluginLayout.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3729 Fix the problem that generateing OpenAPI defined in Plugin may not work
  api/src/main/java/run/halo/app/extension/ListResult.java
  api/src/main/java/run/halo/app/infra/utils/GenericClassUtils.java
  api/src/test/java/run/halo/app/infra/utils/GenericClassUtilsTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3736 fix: user page not found
  application/src/main/java/run/halo/app/theme/router/ThemeCompositeRouterFunction.java
  application/src/main/java/run/halo/app/theme/router/factories/AuthorPostsRouteFactory.java
  application/src/test/java/run/halo/app/theme/router/factories/AuthorPostsRouteFactoryTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3740 Expose attachment service to plugin
  api/src/main/java/run/halo/app/core/extension/attachment/Attachment.java
  api/src/main/java/run/halo/app/core/extension/attachment/Constant.java
  api/src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentHandler.java
  api/src/main/java/run/halo/app/core/extension/attachment/endpoint/DeleteOption.java
  api/src/main/java/run/halo/app/core/extension/attachment/endpoint/SimpleFilePart.java
  api/src/main/java/run/halo/app/core/extension/attachment/endpoint/UploadOption.java
  api/src/main/java/run/halo/app/core/extension/service/AttachmentService.java
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/LocalAttachmentUploadHandler.java
  application/src/main/java/run/halo/app/core/extension/reconciler/attachment/AttachmentReconciler.java
  application/src/main/java/run/halo/app/core/extension/service/impl/DefaultAttachmentService.java
  application/src/main/java/run/halo/app/plugin/SharedApplicationContextHolder.java
  application/src/test/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpointTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved, area/plugin

#3749 feat: add an API for reloading plugin
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/PluginService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/resources/extensions/role-template-plugin.yaml
  application/src/test/java/run/halo/app/core/extension/service/impl/PluginServiceImplTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved, area/plugin

#3714 refactor: use tanstack query to refactor menu related data fetching
  console/src/modules/interface/menus/Menus.vue
  console/src/modules/interface/menus/components/MenuList.vue
Labels: lgtm, approved, release-note, kind/improvement

#3739 refactor: allow users to modify their own annotations in metadata
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/UserReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/UserReconcilerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3756 fix: signup form overlaps with locale form.
  console/src/modules/system/users/Binding.vue
  console/src/modules/system/users/Login.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3767 Support publishing to Maven central repository
  .github/workflows/halo.yaml
  api/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/halo.publish.gradle
  console/Makefile
  platform/application/build.gradle
  platform/plugin/build.gradle
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#3770 fix: error occurred when switching tab in dashboard component.
  console/src/modules/dashboard/Dashboard.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3773 fix: outline not displayed when first entering the editor.
  console/src/components/editor/DefaultEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3777 perf: automatically close the installation modal after installing the theme
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/ThemeUploadModal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3779 perf: reload page after active theme
  console/src/modules/interface/themes/components/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewListItem.vue
  console/src/modules/interface/themes/composables/use-theme.ts
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3780 docs: update SECURITY.md for Halo 2.x
  SECURITY.md
Labels: lgtm, release-note-none, approved, kind/documentation

#3772 Add property halo.use-absolute-permalink to control permalink generation
  api/src/main/java/run/halo/app/infra/ExternalUrlSupplier.java
  application/src/main/java/run/halo/app/actuator/GlobalInfoEndpoint.java
  application/src/main/java/run/halo/app/infra/HaloPropertiesExternalUrlSupplier.java
  application/src/main/java/run/halo/app/infra/properties/HaloProperties.java
  application/src/main/java/run/halo/app/theme/dialect/HaloTrackerProcessor.java
  application/src/main/resources/application.yaml
  application/src/test/java/run/halo/app/infra/HaloPropertiesExternalUrlSupplierTest.java
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/actuator/Actuator.vue
  console/src/modules/system/actuator/types/index.ts
Labels: lgtm, area/core, kind/api-change, approved, release-note, kind/improvement

#3747 refactor: optimize the exception information
  application/src/main/java/run/halo/app/infra/exception/handlers/ProblemDetailErrorAttributes.java
  application/src/main/java/run/halo/app/theme/ThemeConfiguration.java
  application/src/main/java/run/halo/app/theme/endpoint/CommentFinderEndpoint.java
  application/src/test/java/run/halo/app/infra/exception/handlers/I18nExceptionTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3785 feat: import zh_TW locale for uppy component
  console/src/components/upload/UppyUpload.vue
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#3789 Enable defining Reconciler in plugin
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/java/run/halo/app/plugin/PluginControllerManager.java
Labels: kind/feature, lgtm, area/core, approved, release-note, area/plugin

#3744 refactor: add validation for initializing super admin username
  application/src/main/java/run/halo/app/infra/ValidationUtils.java
  application/src/main/java/run/halo/app/infra/properties/HaloProperties.java
  application/src/main/java/run/halo/app/infra/properties/SecurityProperties.java
  application/src/test/java/run/halo/app/infra/ValidationUtilsTest.java
  application/src/test/java/run/halo/app/security/SuperAdminInitializerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3784 perf: close attachment upload modal after click complete button
  console/src/components/upload/UppyUpload.vue
  console/src/modules/contents/attachments/components/AttachmentUploadModal.vue
Labels: lgtm, approved, area/console, kind/improvement

#3810 chore: bump up version to 2.4.3
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, approved

#3794 fix: role templates in the plugin detail page is not loaded.
  console/src/modules/system/plugins/PluginDetail.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3792 feat: add description component
  console/packages/components/src/components.ts
  console/packages/components/src/components/description/Description.vue
  console/packages/components/src/components/description/DescriptionItem.vue
  console/packages/components/src/components/description/index.ts
  console/src/modules/contents/attachments/components/AttachmentDetailModal.vue
  console/src/modules/interface/themes/ThemeDetail.vue
  console/src/modules/system/actuator/Actuator.vue
  console/src/modules/system/auth-providers/AuthProviderDetail.vue
  console/src/modules/system/plugins/PluginDetail.vue
  console/src/modules/system/roles/RoleDetail.vue
  console/src/modules/system/users/UserDetail.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#3781 fix: not reload page after upgrading a plugin
  console/src/modules/system/plugins/components/PluginUploadModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3771 chore: bump tanstack query version and disable refetchOnWindowFocus option by default
  console/package.json
  console/pnpm-lock.yaml
  console/src/composables/use-global-info.ts
  console/src/main.ts
  console/src/modules/contents/attachments/components/AttachmentDetailModal.vue
  console/src/modules/contents/attachments/composables/use-attachment-group.ts
  console/src/modules/contents/attachments/composables/use-attachment-policy.ts
  console/src/modules/contents/attachments/composables/use-attachment.ts
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/categories/composables/use-post-category.ts
  console/src/modules/contents/posts/tags/composables/use-post-tag.ts
  console/src/modules/contents/posts/widgets/RecentPublishedWidget.vue
  console/src/modules/interface/menus/Menus.vue
  console/src/modules/interface/menus/components/MenuList.vue
  console/src/modules/interface/themes/ThemeSetting.vue
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
  console/src/modules/system/auth-providers/AuthProviderDetail.vue
  console/src/modules/system/auth-providers/AuthProviders.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/PluginSetting.vue
  console/src/modules/system/plugins/layouts/PluginLayout.vue
  console/src/modules/system/settings/SystemSetting.vue
  console/src/modules/system/settings/layouts/SystemSettingsLayout.vue
  console/src/modules/system/users/UserDetail.vue
  console/src/modules/system/users/UserList.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
  console/src/setup/setupVueQuery.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3786 feat: improve layout and styles of group formkit input
  console/src/formkit/formkit.config.ts
  console/src/formkit/inputs/group.ts
  console/src/formkit/inputs/repeater/Repeater.vue
  console/src/formkit/theme.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#3822 chore: set eslint max-warnings option and remove unused imports
  console/package.json
  console/src/modules/interface/themes/ThemeDetail.vue
  console/src/modules/system/roles/RoleDetail.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3824 feat: add required indicator for formkit label
  console/src/formkit/formkit.config.ts
  console/src/formkit/plugins/required-asterisk.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3831 perf: enable hardware acceleration for attachment images
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/components/AttachmentDetailModal.vue
  console/src/modules/contents/attachments/components/selector-providers/CoreSelectorProvider.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3836 Fix the problem of upgrading plugins with same version
  application/src/main/java/run/halo/app/plugin/YamlPluginFinder.java
Labels: kind/bug, lgtm, area/core, approved, release-note, area/plugin

#3832 Upgrade to Spring Boot 3.0.6
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3803 refactor: add custom API for create user
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/UserService.java
  application/src/main/java/run/halo/app/core/extension/service/UserServiceImpl.java
  application/src/main/resources/extensions/role-template-user.yaml
  application/src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  application/src/test/java/run/halo/app/core/extension/service/UserServiceImplTest.java
  console/packages/api-client/package.json
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-user-api.ts
  console/packages/api-client/src/models/create-user-request.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/user-endpoint-listed-user-list.ts
  console/src/modules/system/users/UserList.vue
  console/src/modules/system/users/components/UserCreationModal.vue
  console/src/modules/system/users/components/UserEditingModal.vue
  console/src/modules/system/users/components/UserPasswordChangeModal.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
Labels: lgtm, area/core, kind/api-change, approved, release-note, kind/improvement

#3826 refactor: exception message when theme installation failed
  application/src/main/java/run/halo/app/core/extension/theme/ThemeUtils.java
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3819 fix: category select dropdown cannot be fully displayed in repeater component
  console/src/formkit/theme.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#3834 perf: improve router scrollBehavior configuration
  console/src/router/index.ts
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3821 fix: distance between the login form and the top of the page
  console/src/modules/system/users/Binding.vue
  console/src/modules/system/users/Login.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#3841 fix: different jar file with the same name appears in the plugins directory after a failed installation
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3787 feat: add public APIs for client side
  api/src/main/java/run/halo/app/core/extension/service/AttachmentService.java
  application/src/main/java/run/halo/app/theme/endpoint/CategoryQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/MenuQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/PluginQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/PostPublicQuery.java
  application/src/main/java/run/halo/app/theme/endpoint/PostQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/PublicApiUtils.java
  application/src/main/java/run/halo/app/theme/endpoint/SinglePageQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/SiteStatsQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/SortableRequest.java
  application/src/main/java/run/halo/app/theme/endpoint/TagQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/finders/PostPublicQueryService.java
  application/src/main/java/run/halo/app/theme/finders/SinglePageFinder.java
  application/src/main/java/run/halo/app/theme/finders/TagFinder.java
  application/src/main/java/run/halo/app/theme/finders/impl/MenuFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostPublicQueryServiceImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/SinglePageFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/TagFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/vo/NavigationPostVo.java
  application/src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  application/src/main/resources/extensions/role-template-anonymous.yaml
  application/src/test/java/run/halo/app/theme/endpoint/CategoryQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/endpoint/MenuQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/endpoint/PluginQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/endpoint/PostQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/endpoint/PublicApiUtilsTest.java
  application/src/test/java/run/halo/app/theme/endpoint/SinglePageQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/PostFinderImplTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/SinglePageFinderImplTest.java
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, release-note

#3847 fix: NPE when navigation post not exists
  application/src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3854 Upgrade plugin presets
  application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3859 Fix the problem of being able to search private posts after making post private
  application/src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  application/src/main/java/run/halo/app/event/post/PostVisibleChangedEvent.java
  application/src/main/java/run/halo/app/search/post/PostEventReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3852 fix: loading state is not restored when Dialog's onConfirm method has exception
  console/packages/components/src/components/dialog/Dialog.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#3864 chore: bump up version to 2.5.0-rc.2
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved

#3838 refactor: optimizing plugin upgrade steps
  api/src/main/java/run/halo/app/core/extension/Plugin.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/java/run/halo/app/plugin/PluginConst.java
  application/src/main/java/run/halo/app/plugin/YamlPluginFinder.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/service/impl/PluginServiceImplTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3842 feat: add filtering conditions to the list of comment components
  application/src/main/java/run/halo/app/theme/endpoint/CommentFinderEndpoint.java
  application/src/main/java/run/halo/app/theme/finders/CommentPublicQueryService.java
  application/src/main/java/run/halo/app/theme/finders/impl/CommentFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImpl.java
  application/src/test/java/run/halo/app/theme/endpoint/CommentFinderEndpointTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImplTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3867 fix: permalink of singlePage cannot contain special characters
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3868 chore: update default theme to 1.3.0
  application/src/main/resources/themes/theme-earth.zip
Labels: lgtm, release-note-none, approved, kind/improvement

#3870 chore: bump up version to 2.5.0
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved

#3873 refactor: compatibility issues with plugins lacking loadLocation after upgrading
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/main/java/run/halo/app/plugin/PluginUtils.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3874 chore: bump up version to 2.5.1
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved
