Repository halo-dev/halo, pull requests merged in 2023-12, with the labels that each got.

#4961 chore: update default theme to 1.7.1
  application/src/main/resources/themes/theme-earth.zip
Labels: lgtm, area/core, approved, release-note

#4964 fix: issue of clicking on the post tag in uc to report an error
  console/uc-src/modules/contents/posts/components/PostListItem.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4962 feat: refine role template of uc content
  application/src/main/resources/extensions/role-template-uc-content.yaml
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#4941 feat: support reset passwords based on email address
  application/src/main/java/run/halo/app/core/extension/service/EmailPasswordRecoveryService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/EmailPasswordRecoveryServiceImpl.java
  application/src/main/java/run/halo/app/theme/endpoint/PublicUserEndpoint.java
  application/src/main/resources/application.yaml
  application/src/main/resources/extensions/notification-templates.yaml
  application/src/main/resources/extensions/notification.yaml
  application/src/test/java/run/halo/app/core/extension/service/impl/EmailPasswordRecoveryServiceImplTest.java
  console/console-src/modules/system/users/Login.vue
  console/console-src/router/guards/auth-check.ts
  console/console-src/router/routes.config.ts
  console/console-src/views/system/ResetPassword.vue
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api/api-halo-run-v1alpha1-user-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/password-reset-email-request.ts
  console/packages/api-client/src/models/reset-password-request.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/uc-src/router/guards/auth-check.ts
  console/uc-src/router/routes.config.ts
  console/uc-src/views/ResetPassword.vue
  e2e/testsuite.yaml
Labels: kind/feature, lgtm, area/core, approved, area/console, release-note

#4965 Add role templates for posts in user center
  application/src/main/resources/extensions/role-template-uc-content.yaml
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4968 Bump versions to 2.12.0-SNAPSHOT for next development
  README.md
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
  console/packages/ui-plugin-bundler-kit/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4969 [release-2.11] Bump versions for next development
  .github/workflows/halo.yaml
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/editor/package.json
  console/packages/shared/package.json
  console/packages/ui-plugin-bundler-kit/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4975 fix: can not input title using Chinese IME in editor
  console/src/components/editor/DefaultEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4993 fix: editor's image cannot be resized proportionally
  console/packages/editor/src/extensions/image/ImageView.vue
Labels: kind/bug, lgtm, approved, release-note, area/editor

#4944 feat: use storybook to refactor components library docs
  console/.eslintrc.cjs
  console/packages/components/.eslintignore
  console/packages/components/.eslintrc.cjs
  console/packages/components/.storybook/main.ts
  console/packages/components/.storybook/preview.ts
  console/packages/components/env.d.ts
  console/packages/components/histoire.config.ts
  console/packages/components/package.json
  console/packages/components/src/components/alert/Alert.stories.ts
  console/packages/components/src/components/alert/Alert.story.vue
  console/packages/components/src/components/avatar/Avatar.stories.ts
  console/packages/components/src/components/avatar/Avatar.story.vue
  console/packages/components/src/components/button/Button.stories.ts
  console/packages/components/src/components/button/Button.story.vue
  console/packages/components/src/components/card/Card.stories.ts
  console/packages/components/src/components/card/Card.story.vue
  console/packages/components/src/components/dialog/Dialog.stories.ts
  console/packages/components/src/components/dialog/Dialog.story.vue
  console/packages/components/src/components/dropdown/Draopdown.stories.ts
  console/packages/components/src/components/dropdown/Dropdown.story.vue
  console/packages/components/src/components/empty/Empty.stories.ts
  console/packages/components/src/components/empty/Empty.story.vue
  console/packages/components/src/components/loading/Loading.stories.ts
  console/packages/components/src/components/menu/Menu.stories.ts
  console/packages/components/src/components/menu/Menu.story.vue
  console/packages/components/src/components/menu/__tests__/__snapshots__/Menu.spec.tsx.snap
  console/packages/components/src/components/modal/Modal.stories.ts
  console/packages/components/src/components/modal/Modal.story.vue
  console/packages/components/src/components/pagination/Pagination.stories.ts
  console/packages/components/src/components/pagination/Pagination.story.vue
  console/packages/components/src/components/space/Space.stories.ts
  console/packages/components/src/components/space/Space.story.vue
  console/packages/components/src/components/status/StatusDot.stories.ts
  console/packages/components/src/components/status/StatusDot.story.vue
  console/packages/components/src/components/switch/Switch.stories.ts
  console/packages/components/src/components/switch/Switch.story.vue
  console/packages/components/src/components/switch/__tests__/Switch.spec.ts
  console/packages/components/src/components/tabs/Tabbar.stories.ts
  console/packages/components/src/components/tabs/Tabbar.story.vue
  console/packages/components/src/components/tabs/Tabs.stories.ts
  console/packages/components/src/components/tabs/Tabs.story.vue
  console/packages/components/src/components/tag/Tag.stories.ts
  console/packages/components/src/histoire.setup.ts
  console/packages/components/src/stories/Introduction.mdx
  console/packages/components/src/stories/assets/code-brackets.svg
  console/packages/components/src/stories/assets/colors.svg
  console/packages/components/src/stories/assets/comments.svg
  console/packages/components/src/stories/assets/direction.svg
  console/packages/components/src/stories/assets/flow.svg
  console/packages/components/src/stories/assets/plugin.svg
  console/packages/components/src/stories/assets/repo.svg
  console/packages/components/src/stories/assets/stackalt.svg
  console/pnpm-lock.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#5007 fix: ineffective single-character queries in labelSelector
  api/src/main/java/run/halo/app/extension/router/selector/Operator.java
  api/src/test/java/run/halo/app/extension/router/selector/OperatorTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#5032 Initialize schemes before refreshing application context
  application/src/main/java/run/halo/app/config/ExtensionConfiguration.java
  application/src/main/java/run/halo/app/content/PostIndexInformer.java
  application/src/main/java/run/halo/app/extension/router/ExtensionCompositeRouterFunction.java
  application/src/main/java/run/halo/app/infra/DefaultThemeInitializer.java
  application/src/main/java/run/halo/app/infra/ExtensionResourceInitializer.java
  application/src/main/java/run/halo/app/infra/SchemeInitializedEvent.java
  application/src/main/java/run/halo/app/infra/SchemeInitializer.java
  application/src/main/java/run/halo/app/search/IndicesInitializer.java
  application/src/main/java/run/halo/app/theme/router/ThemeCompositeRouterFunction.java
  application/src/main/resources/META-INF/spring.factories
  application/src/test/java/run/halo/app/extension/router/ExtensionCompositeRouterFunctionTest.java
  application/src/test/java/run/halo/app/infra/ExtensionResourceInitializerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5002 Support getting parent category by child name in theme
  application/src/main/java/run/halo/app/theme/finders/CategoryFinder.java
  application/src/main/java/run/halo/app/theme/finders/impl/CategoryFinderImpl.java
Labels: kind/feature, lgtm, release-note-none, kind/api-change, approved

#5075 chore: add storybook-static folder to .gitignore
  console/.gitignore
Labels: lgtm, release-note-none, approved, area/console

#5079 Fix the issue of always displaying `Unbind` in the login method on the user profile page
  console/uc-src/modules/profile/tabs/Detail.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#5072 feat: add a warning about using the h2 database in actuator page
  console/console-src/modules/system/actuator/Actuator.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#4979 feat: add tabbar component horizontal-scroll-indicator
  console/packages/components/src/components/tabs/Tabbar.vue
  console/packages/components/src/components/tabs/interface.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5070 feat: add disallow tooltip for editor provider selector component
  console/src/components/dropdown-selector/EditorProviderSelector.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5071 feat: record the user query conditions in the route query parameters
  console/console-src/modules/system/users/UserList.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#5104 pref: export necessary extensions externally
  console/packages/editor/src/extensions/index.ts
  console/packages/editor/src/index.ts
Labels: lgtm, approved, release-note, kind/improvement, area/editor

#5101 fix: fix anchor positioning for identical table of contents names
  console/packages/editor/src/extensions/heading/index.ts
  console/packages/editor/src/utils/anchor.ts
Labels: kind/bug, lgtm, approved, release-note, area/editor

#5114 fix: cannot upload image when creating a new post in UC editor
  console/uc-src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#5125 chore: use lodash-es instead of lodash
  console/console-src/composables/use-content-cache.ts
  console/console-src/composables/use-setting-form.ts
  console/console-src/modules/contents/attachments/AttachmentList.vue
  console/console-src/modules/contents/attachments/components/AttachmentGroupEditingModal.vue
  console/console-src/modules/contents/attachments/components/AttachmentPolicyEditingModal.vue
  console/console-src/modules/contents/comments/components/CommentListItem.vue
  console/console-src/modules/contents/comments/components/ReplyCreationModal.vue
  console/console-src/modules/contents/comments/components/ReplyListItem.vue
  console/console-src/modules/contents/pages/DeletedSinglePageList.vue
  console/console-src/modules/contents/pages/SinglePageEditor.vue
  console/console-src/modules/contents/pages/components/SinglePageListItem.vue
  console/console-src/modules/contents/pages/components/SinglePageSettingModal.vue
  console/console-src/modules/contents/posts/DeletedPostList.vue
  console/console-src/modules/contents/posts/PostEditor.vue
  console/console-src/modules/contents/posts/categories/components/CategoryEditingModal.vue
  console/console-src/modules/contents/posts/categories/utils/index.ts
  console/console-src/modules/contents/posts/components/PostSettingModal.vue
  console/console-src/modules/contents/posts/tags/components/TagEditingModal.vue
  console/console-src/modules/dashboard/Dashboard.vue
  console/console-src/modules/interface/menus/Menus.vue
  console/console-src/modules/interface/menus/components/MenuEditingModal.vue
  console/console-src/modules/interface/menus/components/MenuItemEditingModal.vue
  console/console-src/modules/interface/menus/utils/index.ts
  console/console-src/modules/interface/themes/layouts/ThemeLayout.vue
  console/console-src/modules/system/plugins/PluginDetail.vue
  console/console-src/modules/system/plugins/composables/use-plugin.ts
  console/console-src/modules/system/roles/components/RoleEditingModal.vue
  console/console-src/modules/system/users/components/UserCreationModal.vue
  console/console-src/modules/system/users/components/UserEditingModal.vue
  console/console-src/modules/system/users/components/UserPasswordChangeModal.vue
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/form/AnnotationsForm.vue
  console/src/composables/use-route-menu-generator.ts
  console/src/utils/permission.ts
  console/uc-src/modules/profile/components/PasswordChangeModal.vue
  console/uc-src/modules/profile/components/ProfileEditingModal.vue
  console/uc-src/modules/profile/tabs/NotificationPreferences.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5078 refactor: visible condition of modal component
  console/packages/components/src/components/modal/Modal.stories.ts
  console/packages/components/src/components/modal/Modal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5128 chore: bump uppy related packages version
  console/console-src/modules/interface/themes/components/list-tabs/LocalUpload.vue
  console/console-src/modules/system/plugins/components/installation-tabs/LocalUpload.vue
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement
