Repository halo-dev/halo, pull requests merged in 2023-03, with the labels that each got.

#3428 Update halo-next-docker-build actio to release-2.0
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3430 Update halo-next-docker-build action to release-2.1
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3420 feat: add indexer implementation to solve the slow tag stats
  src/main/java/run/halo/app/content/DefaultIndexer.java
  src/main/java/run/halo/app/content/Indexer.java
  src/main/java/run/halo/app/content/PostIndexInformer.java
  src/main/java/run/halo/app/core/extension/reconciler/TagReconciler.java
  src/main/java/run/halo/app/extension/controller/DefaultController.java
  src/test/java/run/halo/app/content/DefaultIndexerTest.java
  src/test/java/run/halo/app/core/extension/reconciler/TagReconcilerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3431 Update halo-next-docker-build action to release-2.2
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3427 Add downloadPluginPresets task
  build.gradle
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#3436 Update Halo version to 2.2.2-SNAPSHOT
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3434 Update Halo version to 2.4.0-SNAPSHOT
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3435 Update halo version to 2.3.1-SNAPSHOT
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3437 Bump up checkout and setup-java actions
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, kind/cleanup, approved

#3439 Bump up checkout and setup-java actions for release-2.1 branch
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, kind/cleanup, approved

#3451 Update Spring Boot to 3.0.4
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3461 Adapt GitHub Workflow for branch release-2.3
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3457 Improve the quality of full-text searching result
  src/main/java/run/halo/app/search/post/LucenePostSearchService.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3468 fix: the issue of blank content when opening a saved post in StackEdit editor plugin for editing
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, release-note

#3458 fix: sorting problem using email comments
  src/main/java/run/halo/app/content/comment/CommentServiceImpl.java
  src/main/java/run/halo/app/core/extension/content/Comment.java
  src/main/java/run/halo/app/core/extension/reconciler/CommentReconciler.java
  src/test/java/run/halo/app/core/extension/reconciler/CommentReconcilerTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3471 fix: posts and pages cannot be counted for visits
  src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
  src/test/java/run/halo/app/theme/router/factories/PostRouteFactoryTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3481 chore: bump uppy version to fix crash on chrome browser
  console/package.json
  console/pnpm-lock.yaml
Labels: kind/bug, lgtm, approved, area/console, release-note

#3475 feat: add support for refreshing search engine indexes
  console/src/modules/dashboard/widgets/QuickLinkWidget.vue
  console/src/utils/api-client.ts
  src/main/resources/extensions/role-template-post.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#3441 Fix the problem of failure to create and publish post
  src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
  src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  src/test/java/run/halo/app/core/extension/endpoint/PostEndpointTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3480 Support logging in with encrypted password
  console/package.json
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/login-api.ts
  console/packages/api-client/src/base.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/public-key-response.ts
  console/pnpm-lock.yaml
  console/src/components/login/LoginForm.vue
  console/src/utils/api-client.ts
  src/main/java/run/halo/app/config/SwaggerConfig.java
  src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  src/main/java/run/halo/app/security/authentication/formlogin/FormLoginConfigurer.java
  src/main/java/run/halo/app/security/authentication/login/CryptoService.java
  src/main/java/run/halo/app/security/authentication/login/InvalidEncryptedMessageException.java
  src/main/java/run/halo/app/security/authentication/login/LoginAuthenticationConverter.java
  src/main/java/run/halo/app/security/authentication/login/LoginConfigurer.java
  src/main/java/run/halo/app/security/authentication/login/PublicKeyRouteBuilder.java
  src/main/java/run/halo/app/security/authentication/login/RsaKeyScheduledGenerator.java
  src/main/java/run/halo/app/security/authentication/login/impl/RsaKeyService.java
  src/main/resources/extensions/role-template-anonymous.yaml
  src/test/java/run/halo/app/security/authentication/login/LoginAuthenticationConverterTest.java
  src/test/java/run/halo/app/security/authentication/login/PublicKeyRouteBuilderTest.java
  src/test/java/run/halo/app/security/authentication/login/impl/RsaKeyServiceTest.java
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, area/console, release-note

#3492 Correct console ref while building on branch release-2.2
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3493 Correct console ref while building on branch release-2.1
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3484 Make login page use custom favicon
  console/src/App.vue
  src/main/java/run/halo/app/actuator/GlobalInfoEndpoint.java
Labels: lgtm, area/core, approved, area/console, release-note, kind/improvement

#3498 perf: add supports for force updating of post and single page settings
  console/src/modules/contents/pages/components/SinglePageSettingModal.vue
  console/src/modules/contents/posts/components/PostSettingModal.vue
  console/src/modules/contents/posts/components/__tests__/PostSettingModal.spec.ts
Labels: lgtm, approved, release-note, kind/improvement

#3503 chore: remove issues triage action config files
  .github/commands.json
  .github/commands.yml
  .github/subscribers.json
Labels: lgtm, release-note-none, approved, kind/improvement

#3510 fix: RSA key cannot be saved normally in the Windows environment
  src/main/java/run/halo/app/security/authentication/login/impl/RsaKeyService.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3516 fix: the rawType of Content was not updated when switching editors
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, release-note

#3527 chore: bump formkit version to 0.16.2
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3526 chore: remove unused vars and imports to fix eslint warning
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/system/plugins/layouts/PluginLayout.vue
Labels: lgtm, release-note-none, kind/cleanup, approved, area/console

#3425 refactor: the acquisition method of role rules and no longer obtain aggregated by reconciler
  src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  src/main/java/run/halo/app/core/extension/reconciler/RoleReconciler.java
  src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
  src/main/java/run/halo/app/core/extension/service/RoleService.java
  src/main/java/run/halo/app/security/authorization/DefaultRuleResolver.java
  src/test/java/run/halo/app/config/ExtensionConfigurationTest.java
  src/test/java/run/halo/app/content/PostIntegrationTests.java
  src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  src/test/java/run/halo/app/core/extension/reconciler/RoleReconcilerTest.java
  src/test/java/run/halo/app/core/extension/service/DefaultRoleServiceTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3539 refactor: plugin development initializer
  src/main/java/run/halo/app/plugin/PluginDevelopmentInitializer.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3540 fix: search issue of post tag selection component
  console/src/formkit/inputs/tag-select/TagSelect.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3543 Upgrade to Gradle 8.0.2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#3550 perf: disable browser's autocomplete feature for password input field
  console/src/components/login/LoginForm.vue
  console/src/formkit/formkit.config.ts
  console/src/formkit/plugins/password-prevent-autocomplete.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3548 refactor: use tanstack query to refactor user-related fetching
  console/src/modules/system/users/UserList.vue
  console/src/modules/system/users/components/UserEditingModal.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3551 fix: the issue of local cache not being cleared after saving a new post
  console/src/composables/use-content-cache.ts
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3564 feat(components): add disabled prop supports for switch component
  console/packages/components/src/components/switch/Switch.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3571 fix: unable to login again after using oauth providers login
  console/src/components/login/LoginForm.vue
  console/src/router/guards/auth-check.ts
  console/src/utils/api-client.ts
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#3593 Change type of SettingFetcher from interface into abstract class
  api/src/main/java/run/halo/app/plugin/SettingFetcher.java
  application/src/main/java/run/halo/app/plugin/DefaultSettingFetcher.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3577 perf: improve styles of bottom menu in mobile devices
  console/src/layouts/BasicLayout.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/contents/pages/module.ts
  console/src/modules/system/actuator/module.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3588 refactor: use tanstack query to refactor theme-related fetching
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3562 perf: hide the switch of local identity authentication
  api/src/main/java/run/halo/app/core/extension/AuthProvider.java
  application/src/main/java/run/halo/app/security/AuthProviderServiceImpl.java
  application/src/main/java/run/halo/app/security/ListedAuthProvider.java
  application/src/main/resources/extensions/authproviders.yaml
  application/src/test/java/run/halo/app/security/AuthProviderServiceImplTest.java
  console/packages/api-client/src/models/listed-auth-provider.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/system/auth-providers/components/AuthProviderListItem.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3546 refactor: add parameter verification to the visit counter API
  application/src/main/java/run/halo/app/metrics/VisitedEventReconciler.java
  application/src/main/java/run/halo/app/metrics/VotedEventReconciler.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3576 feat: add dropdown component to refactor the action buttons
  console/package.json
  console/packages/components/package.json
  console/packages/components/src/components.ts
  console/packages/components/src/components/dropdown/Dropdown.story.vue
  console/packages/components/src/components/dropdown/Dropdown.vue
  console/packages/components/src/components/dropdown/DropdownDivider.vue
  console/packages/components/src/components/dropdown/DropdownItem.vue
  console/packages/components/src/components/dropdown/index.ts
  console/packages/components/src/components/entity/Entity.vue
  console/packages/components/src/components/tooltip/index.ts
  console/packages/components/src/components/tooltip/style.css
  console/packages/components/vite.config.ts
  console/pnpm-lock.yaml
  console/src/App.vue
  console/src/components/dropdown-selector/CategoryDropdownSelector.vue
  console/src/components/dropdown-selector/EditorProviderSelector.vue
  console/src/components/dropdown-selector/TagDropdownSelector.vue
  console/src/components/dropdown-selector/UserDropdownSelector.vue
  console/src/layouts/BasicLayout.vue
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/components/AttachmentGroupList.vue
  console/src/modules/contents/attachments/components/AttachmentPoliciesModal.vue
  console/src/modules/contents/attachments/components/AttachmentUploadModal.vue
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/comments/components/ReplyCreationModal.vue
  console/src/modules/contents/comments/components/ReplyListItem.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/categories/components/CategoryListItem.vue
  console/src/modules/contents/posts/tags/TagList.vue
  console/src/modules/interface/menus/components/MenuItemListItem.vue
  console/src/modules/interface/menus/components/MenuList.vue
  console/src/modules/interface/themes/ThemeDetail.vue
  console/src/modules/interface/themes/components/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewListItem.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/roles/RoleList.vue
  console/src/modules/system/users/UserList.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
  console/src/setup/setupComponents.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3580 fix: NPE when stopping the plugin after the plugin startup fails
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3561 perf: hide disabled auth providers in user profile
  api/src/main/java/run/halo/app/core/extension/AuthProvider.java
  application/src/main/java/run/halo/app/security/AuthProviderServiceImpl.java
  application/src/main/java/run/halo/app/security/ListedAuthProvider.java
  application/src/main/resources/extensions/authproviders.yaml
  application/src/test/java/run/halo/app/security/AuthProviderServiceImplTest.java
  console/packages/api-client/src/models/listed-auth-provider.ts
  console/src/modules/system/users/UserDetail.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3578 fix: unapproved replies are included in the reply count of comments
  api/src/main/java/run/halo/app/core/extension/content/Comment.java
  application/src/main/java/run/halo/app/core/extension/reconciler/ReplyReconciler.java
  application/src/main/java/run/halo/app/event/post/ReplyChangedEvent.java
  application/src/main/java/run/halo/app/metrics/ReplyEventReconciler.java
Labels: lgtm, area/core, kind/api-change, approved, release-note, kind/improvement

#3587 perf: improve the style of the scrollbar
  console/package.json
  console/packages/components/src/components/modal/Modal.vue
  console/packages/components/src/index.ts
  console/pnpm-lock.yaml
  console/src/App.vue
  console/src/components/editor/DefaultEditor.vue
  console/src/layouts/BasicLayout.vue
  console/src/modules/contents/posts/widgets/RecentPublishedWidget.vue
  console/src/modules/dashboard/widgets/QuickLinkWidget.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewModal.vue
  console/src/setup/setupStyles.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3594 feat: provide a secret extension to store sensitive data
  api/src/main/java/run/halo/app/extension/Secret.java
  api/src/test/java/run/halo/app/extension/SecretTest.java
  application/src/main/java/run/halo/app/infra/SchemeInitializer.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#3607 chore: bump default theme version to 1.2.1
  application/src/main/resources/themes/theme-earth.zip
Labels: lgtm, release-note-none, approved, kind/improvement

#3609 Upgrade to Spring Boot 3.0.5
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3610 Upgrade to MariaDB R2DBC connector 1.1.4
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3581 feat: add supports for clicking the visibility icon in the post list to modify visibility
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostList.vue
Labels: lgtm, approved, release-note-action-required, area/console, kind/improvement

#3619 fix: post publishing api is requested twice
  console/src/modules/contents/posts/components/PostSettingModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3603 Fix the problem not allowing logging in after upgrading Halo
  application/src/main/java/run/halo/app/extension/controller/DefaultControllerManager.java
  application/src/main/java/run/halo/app/extension/gc/GcControllerInitializer.java
  application/src/main/java/run/halo/app/infra/ExtensionInitializedEvent.java
  application/src/main/java/run/halo/app/infra/ExtensionResourceInitializer.java
  application/src/test/java/run/halo/app/infra/ExtensionResourceInitializerTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3613 chore: bump @halo-dev/richtext-editor version to support i18n
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/editor/DefaultEditor.vue
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#3612 Make frame options header configurable
  application/src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  application/src/main/java/run/halo/app/infra/properties/SecurityProperties.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#3614 Make referrer-policy configurable
  application/src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  application/src/main/java/run/halo/app/infra/properties/SecurityProperties.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#3604 refactor: use tanstack query to refactor setting-form-related fetching of theme and plugin
  console/src/modules/interface/themes/ThemeSetting.vue
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
  console/src/modules/system/plugins/PluginSetting.vue
  console/src/modules/system/plugins/layouts/PluginLayout.vue
  console/src/modules/system/users/UserList.vue
Labels: lgtm, release-note-none, approved, kind/improvement

#3617 chore: bump the patch version of all console dependencies
  console/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
  console/pnpm-lock.yaml
  console/src/layouts/BasicLayout.vue
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/components/selector-providers/CoreSelectorProvider.vue
  console/src/modules/contents/comments/components/ReplyListItem.vue
  console/src/modules/dashboard/Dashboard.vue
  console/src/modules/dashboard/widgets/QuickLinkWidget.vue
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/preview/ThemePreviewListItem.vue
  console/src/modules/system/users/UserDetail.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3623 fix: the loading status is not displayed when loading auth providers
  console/src/modules/system/auth-providers/AuthProviders.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#3634 fix: menu scrollbar position cannot be restored after switching routes
  console/src/layouts/BasicLayout.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#3622 chore: add FloatingDropdown to solve compatibility issues
  console/package.json
  console/pnpm-lock.yaml
  console/src/setup/setupComponents.ts
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3638 perf: improve shadow style of side menu
  console/src/layouts/BasicLayout.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3630 feat: support setting language for FormKit and Uppy
  console/src/App.vue
  console/src/components/upload/UppyUpload.vue
  console/src/formkit/formkit.config.ts
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#3618 Fix typo: snaphosts -> snapshots
  application/src/main/resources/extensions/role-template-post.yaml
  application/src/main/resources/extensions/role-template-singlepage.yaml
  application/src/main/resources/extensions/role-template-snapshot.yaml
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved, area/console

#3606 refactor: use tanstack query to refactor system setting form fetching
  console/src/modules/system/settings/SystemSetting.vue
  console/src/modules/system/settings/layouts/SystemSettingsLayout.vue
Labels: lgtm, release-note-none, approved, kind/improvement

#3627 fix: initialization status of the privileged auth provider is OFF
  application/src/main/java/run/halo/app/core/extension/reconciler/AuthProviderReconciler.java
  application/src/main/java/run/halo/app/security/AuthProviderServiceImpl.java
  application/src/test/java/run/halo/app/security/AuthProviderServiceImplTest.java
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#3631 feat: support user registration
  application/src/main/java/run/halo/app/actuator/GlobalInfoEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/UserService.java
  application/src/main/java/run/halo/app/core/extension/service/UserServiceImpl.java
  application/src/main/java/run/halo/app/theme/endpoint/PublicUserEndpoint.java
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
  application/src/main/resources/extensions/system-configurable-configmap.yaml
  application/src/main/resources/extensions/system-setting.yaml
  application/src/test/java/run/halo/app/core/extension/service/UserServiceImplTest.java
  application/src/test/java/run/halo/app/theme/endpoint/PublicUserEndpointTest.java
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/api-halo-run-v1alpha1-user-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/sign-up-request.ts
  console/src/components/signup/SignupForm.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/system/actuator/types/index.ts
  console/src/modules/system/users/Binding.vue
  console/src/modules/system/users/Login.vue
  console/src/modules/system/users/module.ts
  console/src/router/guards/auth-check.ts
  console/src/router/guards/check-states.ts
  console/src/utils/api-client.ts
Labels: kind/feature, lgtm, area/core, approved, area/console, release-note

#3626 perf: improve the conditions for fetching role templates on the plugin details page
  console/src/modules/system/plugins/PluginDetail.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3642 feat: add setting locale supports in login page
  console/src/locales/index.ts
  console/src/main.ts
  console/src/modules/system/users/Login.vue
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#3608 refactor: re-design login-related form
  console/src/App.vue
  console/src/components/login/LoginForm.vue
  console/src/components/login/LoginModal.vue
  console/src/components/login/SocialAuthProviderItem.vue
  console/src/components/login/SocialAuthProviders.vue
  console/src/components/signup/SignupForm.vue
  console/src/composables/use-global-info.ts
  console/src/constants/app.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/modules/system/auth-providers/module.ts
  console/src/modules/system/users/Binding.vue
  console/src/modules/system/users/Login.vue
  console/src/modules/system/users/components/UserEditingModal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3644 refactor: do not disable when auth provider deleted
  application/src/main/java/run/halo/app/core/extension/reconciler/AuthProviderReconciler.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3648 chore: generate api client
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/v1alpha1-secret-api.ts
  console/packages/api-client/src/models/comment-status.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/secret-list.ts
  console/packages/api-client/src/models/secret.ts
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3650 chore: bump console version to 2.4.0
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3649 Upgrade to plugin-comment-widget 1.5.0
  application/build.gradle
Labels: lgtm, release-note-none, kind/cleanup, approved
