Repository halo-dev/halo, pull requests merged in 2023-07, with the labels that each got.

#4167 Prepare for next release 2.7.1
  .github/workflows/halo.yaml
  README.md
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4041 feat: make plugin tabs extensible
  console/docs/extension-points/plugin-self-tabs.md
  console/packages/shared/src/index.ts
  console/packages/shared/src/states/plugin-tab.ts
  console/packages/shared/src/types/plugin.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/plugins/PluginDetail.vue
  console/src/modules/system/plugins/layouts/PluginLayout.vue
  console/src/modules/system/plugins/module.ts
  console/src/modules/system/plugins/tabs/Detail.vue
  console/src/modules/system/plugins/tabs/Setting.vue
Labels: kind/feature, lgtm, approved, area/console, release-note, area/plugin

#4182 refactor: data list filter components
  console/src/components/filter/FilterDropdown.vue
  console/src/components/input/SearchInput.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/users/UserList.vue
  console/src/setup/setupComponents.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4193 refactor: logic of post and singlepage data filtering
  console/src/components/filter/CategoryFilterDropdown.vue
  console/src/components/filter/FilterDropdown.vue
  console/src/components/filter/TagFilterDropdown.vue
  console/src/components/filter/UserFilterDropdown.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/composables/use-attachment.ts
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4195 refactor: logic of comment data filtering
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/comments/CommentList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4102 feat: record the post query conditions in the route query parameters
  console/package.json
  console/packages/components/src/components/pagination/Pagination.vue
  console/pnpm-lock.yaml
  console/src/modules/contents/posts/PostList.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4196 refactor: simplify the logic of the system settings tab
  console/src/modules/system/settings/SystemSettings.vue
  console/src/modules/system/settings/layouts/SystemSettingsLayout.vue
  console/src/modules/system/settings/module.ts
  console/src/modules/system/settings/tabs/Setting.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4194 refactor: logic of attachment data filtering
  console/src/modules/contents/attachments/AttachmentList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4212 feat: register the AnnotationsForm component globally
  console/docs/components/README.md
  console/src/setup/setupComponents.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#4222 fix: system settings and plugin settings panels cannot be displayed
  console/src/modules/system/plugins/PluginDetail.vue
  console/src/modules/system/plugins/tabs/Setting.vue
  console/src/modules/system/settings/SystemSettings.vue
  console/src/modules/system/settings/tabs/Setting.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4233 chore: add sponsorship entry and sponsor image
  .github/FUNDING.yml
  README.md
Labels: lgtm, release-note-none, approved, kind/improvement

#4180 feat: allow switching editors while editing a post
  console/packages/components/src/components/dropdown/DropdownItem.vue
  console/src/components/dropdown-selector/EditorProviderSelector.vue
  console/src/constants/annotations.ts
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/pages/components/SinglePageSettingModal.vue
  console/src/modules/contents/pages/composables/use-page-update-mutate.ts
  console/src/modules/contents/posts/PostEditor.vue
  console/src/modules/contents/posts/components/PostSettingModal.vue
  console/src/modules/contents/posts/composables/use-post-update-mutate.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#4179 refactor: plugin path in annotations when plugin installation
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement, area/plugin

#4240 fix: delay issue in the theme settings tab switch
  console/src/modules/interface/themes/ThemeSetting.vue
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4246 perf: improve polling interval for api requests
  console/src/modules/contents/attachments/composables/use-attachment.ts
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/categories/composables/use-post-category.ts
  console/src/modules/contents/posts/tags/composables/use-post-tag.ts
  console/src/modules/interface/menus/Menus.vue
  console/src/modules/interface/menus/components/MenuList.vue
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/roles/composables/use-role.ts
  console/src/modules/system/users/UserList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4258 feat: add attachment policy and group selection component to formkit
  console/src/formkit/formkit.config.ts
  console/src/formkit/inputs/attachment-group-select.ts
  console/src/formkit/inputs/attachment-policy-select.ts
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#4208 feat: record the single page query conditions in the route query parameters
  console/src/components/filter/UserFilterDropdown.vue
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4257 feat: refine validation for password field
  console/src/components/signup/SignupForm.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/users/components/UserCreationModal.vue
  console/src/modules/system/users/components/UserPasswordChangeModal.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4263 fix: post status filter item cannot be displayed when the page is refreshed
  console/src/modules/contents/posts/PostList.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4255 feat: allow attachment library to filter certain groups and their attachments
  api/src/main/java/run/halo/app/core/extension/attachment/Group.java
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  application/src/test/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpointTest.java
  console/src/modules/contents/attachments/composables/use-attachment-group.ts
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#4264 chore: bump @halo-dev/richtext-editor to fix image size was abnormally modified
  console/package.json
  console/pnpm-lock.yaml
Labels: kind/bug, lgtm, approved, area/console, release-note

#4220 refactor: code structure of the single page data list
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/pages/components/SinglePageListItem.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4219 refactor: code structure of the post data list
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/components/PostListItem.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4235 refactor: optimizing regex pettern for html meta matching
  application/src/main/java/run/halo/app/theme/dialect/DuplicateMetaTagProcessor.java
  application/src/test/java/run/halo/app/theme/dialect/DuplicateMetaTagProcessorTest.java
  application/src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4249 refactor: optimize the usage of comment widget extension point
  application/src/main/java/run/halo/app/plugin/extensionpoint/DefaultExtensionGetter.java
  application/src/main/java/run/halo/app/theme/dialect/CommentElementTagProcessor.java
  application/src/main/resources/extensions/extensionpoint-definitions.yaml
  application/src/test/java/run/halo/app/theme/dialect/CommentElementTagProcessorTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4209 feat: record the comment query conditions in the route query parameters
  console/src/modules/contents/comments/CommentList.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4260 fix: search input component cannot be rendered normally under a non-secure domain name
  console/src/components/input/SearchInput.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4241 fix: plugin delete lifecycle method will not be triggered when the plugin is uninstalled
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/plugin/DefaultDevelopmentPluginRepository.java
  application/src/test/java/run/halo/app/plugin/DefaultDevelopmentPluginRepositoryTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note, kind/improvement

#4245 refactor: add read-write lock to ExtensionContextRegistry
  application/src/main/java/run/halo/app/plugin/ExtensionContextRegistry.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationEventBridgeDispatcher.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginCompositeRouterFunction.java
  application/src/test/java/run/halo/app/plugin/PluginCompositeRouterFunctionTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement, area/plugin

#4210 feat: record the attachment query conditions in the route query parameters
  console/src/modules/contents/attachments/AttachmentList.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4276 refactor: remove username input validation rule in user editing form
  console/src/modules/system/users/components/UserEditingModal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4284 Upgrade Spring Boot 3.1.2
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4274 Support sort parameter when listing extensions
  api/src/main/java/run/halo/app/extension/Comparators.java
  api/src/main/java/run/halo/app/extension/router/SortableRequest.java
  application/src/main/java/run/halo/app/extension/router/ExtensionListHandler.java
  application/src/main/java/run/halo/app/extension/router/ExtensionRouterFunctionFactory.java
  application/src/main/java/run/halo/app/theme/endpoint/CategoryQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/PostPublicQuery.java
  application/src/main/java/run/halo/app/theme/endpoint/SinglePageQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/TagQueryEndpoint.java
  application/src/test/java/run/halo/app/extension/router/ExtensionListHandlerTest.java
  console/packages/api-client/src/api/auth-halo-run-v1alpha1-auth-provider-api.ts
  console/packages/api-client/src/api/auth-halo-run-v1alpha1-user-connection-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-category-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-comment-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-reply-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-single-page-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-snapshot-api.ts
  console/packages/api-client/src/api/content-halo-run-v1alpha1-tag-api.ts
  console/packages/api-client/src/api/metrics-halo-run-v1alpha1-counter-api.ts
  console/packages/api-client/src/api/plugin-halo-run-v1alpha1-extension-definition-api.ts
  console/packages/api-client/src/api/plugin-halo-run-v1alpha1-extension-point-definition-api.ts
  console/packages/api-client/src/api/plugin-halo-run-v1alpha1-plugin-api.ts
  console/packages/api-client/src/api/plugin-halo-run-v1alpha1-reverse-proxy-api.ts
  console/packages/api-client/src/api/plugin-halo-run-v1alpha1-search-engine-api.ts
  console/packages/api-client/src/api/storage-halo-run-v1alpha1-attachment-api.ts
  console/packages/api-client/src/api/storage-halo-run-v1alpha1-group-api.ts
  console/packages/api-client/src/api/storage-halo-run-v1alpha1-policy-api.ts
  console/packages/api-client/src/api/storage-halo-run-v1alpha1-policy-template-api.ts
  console/packages/api-client/src/api/theme-halo-run-v1alpha1-theme-api.ts
  console/packages/api-client/src/api/v1alpha1-annotation-setting-api.ts
  console/packages/api-client/src/api/v1alpha1-config-map-api.ts
  console/packages/api-client/src/api/v1alpha1-menu-api.ts
  console/packages/api-client/src/api/v1alpha1-menu-item-api.ts
  console/packages/api-client/src/api/v1alpha1-personal-access-token-api.ts
  console/packages/api-client/src/api/v1alpha1-role-api.ts
  console/packages/api-client/src/api/v1alpha1-role-binding-api.ts
  console/packages/api-client/src/api/v1alpha1-secret-api.ts
  console/packages/api-client/src/api/v1alpha1-setting-api.ts
  console/packages/api-client/src/api/v1alpha1-user-api.ts
Labels: kind/feature, lgtm, area/core, approved, release-note

#4253 feat: add support for user avatar upload
  api/src/main/java/run/halo/app/core/extension/User.java
  api/src/main/java/run/halo/app/infra/SystemSetting.java
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/UserReconciler.java
  application/src/main/resources/extensions/attachment-local-policy.yaml
  application/src/main/resources/extensions/role-template-authenticated.yaml
  application/src/main/resources/extensions/role-template-user.yaml
  application/src/main/resources/extensions/system-setting.yaml
  application/src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/UserReconcilerTest.java
  console/package.json
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-user-api.ts
  console/packages/components/src/icons/icons.ts
  console/pnpm-lock.yaml
  console/src/constants/annotations.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/users/components/UserAvatarCropper.vue
  console/src/modules/system/users/components/UserCreationModal.vue
  console/src/modules/system/users/components/UserEditingModal.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
Labels: lgtm, area/core, approved, area/console, release-note, kind/improvement

#4275 fix: inconsistency status occurred during plugin startup due to optimistic locking conflict
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement, area/plugin

#4285 Support resolving static resources at halo work directory
  application/src/main/java/run/halo/app/config/WebFluxConfig.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#4206 Support backup and restore
  .editorconfig
  api/src/main/java/run/halo/app/extension/ExtensionUtil.java
  api/src/test/java/run/halo/app/extension/ExtensionUtilTest.java
  application/src/main/java/run/halo/app/infra/SchemeInitializer.java
  application/src/main/java/run/halo/app/infra/utils/FileUtils.java
  application/src/main/java/run/halo/app/migration/Backup.java
  application/src/main/java/run/halo/app/migration/BackupReconciler.java
  application/src/main/java/run/halo/app/migration/Constant.java
  application/src/main/java/run/halo/app/migration/MigrationEndpoint.java
  application/src/main/java/run/halo/app/migration/MigrationService.java
  application/src/main/java/run/halo/app/migration/impl/MigrationServiceImpl.java
  application/src/main/resources/application.yaml
  application/src/main/resources/extensions/role-template-migration.yaml
  application/src/test/java/run/halo/app/migration/BackupReconcilerTest.java
  application/src/test/java/run/halo/app/migration/impl/MigrationServiceImplTest.java
  application/src/test/resources/backups/backup-for-restoration/extensions.data
  application/src/test/resources/backups/backup-for-restoration/workdir/fake-file
  console/docs/extension-points/backup.md
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-restoration-api.ts
  console/packages/api-client/src/api/api-console-migration-halo-run-v1alpha1-migration-api.ts
  console/packages/api-client/src/api/migration-halo-run-v1alpha1-backup-api.ts
  console/packages/api-client/src/models/backup-list.ts
  console/packages/api-client/src/models/backup-spec.ts
  console/packages/api-client/src/models/backup-status.ts
  console/packages/api-client/src/models/backup.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/spec.ts
  console/packages/api-client/src/models/status.ts
  console/packages/components/src/components/modal/Modal.vue
  console/packages/components/src/icons/icons.ts
  console/packages/shared/src/index.ts
  console/packages/shared/src/states/backup.ts
  console/packages/shared/src/types/plugin.ts
  console/src/components/upload/UppyUpload.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/index.ts
  console/src/modules/system/backup/Backups.vue
  console/src/modules/system/backup/components/BackupListItem.vue
  console/src/modules/system/backup/composables/use-backup.ts
  console/src/modules/system/backup/module.ts
  console/src/modules/system/backup/tabs/List.vue
  console/src/modules/system/backup/tabs/Restore.vue
  console/src/utils/api-client.ts
  console/src/utils/date.ts
  docs/backup-and-restore.md
Labels: kind/feature, lgtm, area/core, approved, release-note

#4287 Bump plugin preset
  application/build.gradle
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4286 Delete file already wrote partially into attachment folder when content is terminated with an error
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/LocalAttachmentUploadHandler.java
  application/src/main/java/run/halo/app/infra/utils/FileUtils.java
  application/src/test/java/run/halo/app/infra/utils/FileUtilsTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4265 Support extending username password authentication
  api/src/main/java/run/halo/app/security/authentication/login/UsernamePasswordAuthenticationManager.java
  application/src/main/java/run/halo/app/security/authentication/login/UsernamePasswordAuthenticator.java
  application/src/main/java/run/halo/app/security/authentication/login/UsernamePasswordDelegatingAuthenticationManager.java
  application/src/main/resources/extensions/extensionpoint-definitions.yaml
Labels: kind/feature, lgtm, area/core, approved, release-note, area/plugin

#4271 refactor: conditionally render comment for theme
  api/src/main/java/run/halo/app/theme/dialect/CommentWidget.java
  application/src/main/java/run/halo/app/theme/dialect/CommentElementTagProcessor.java
  application/src/main/java/run/halo/app/theme/router/ModelMapUtils.java
  application/src/test/java/run/halo/app/theme/dialect/CommentElementTagProcessorTest.java
Labels: lgtm, area/core, approved, area/theme, release-note, kind/improvement

#4289 chore: bump default theme version to 1.5.0
  application/src/main/resources/themes/theme-earth.zip
Labels: lgtm, release-note-none, approved, area/theme

#4288 chore: bump default editor version to 27
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/editor/DefaultEditor.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note, area/editor

#4290 chore: release 2.8.0-rc.1
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved

#4302 feat: add showCancel prop for dialog component
  console/packages/components/src/components/dialog/Dialog.vue
  console/packages/components/src/components/dialog/interface.ts
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
  console/src/modules/system/backup/tabs/Restore.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4300 feat: require confirmation before restoring backup
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/backup/tabs/Restore.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4293 fix: resolve the issue of missing old avatar
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/UserReconciler.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4313 pref: internationalize the avatar processing toolbar
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/users/components/UserAvatarCropper.vue
Labels: lgtm, release-note-none, approved, kind/improvement

#4262 feat: add a link back to the site on the login page
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/users/Login.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4308 Suppress compilation warnings and remove deprecated method and classes
  api/src/main/java/run/halo/app/core/extension/Menu.java
  api/src/main/java/run/halo/app/core/extension/MenuItem.java
  api/src/main/java/run/halo/app/core/extension/Role.java
  api/src/main/java/run/halo/app/core/extension/Setting.java
  api/src/main/java/run/halo/app/core/extension/Theme.java
  api/src/main/java/run/halo/app/core/extension/User.java
  api/src/main/java/run/halo/app/core/extension/attachment/Attachment.java
  api/src/main/java/run/halo/app/core/extension/attachment/Constant.java
  api/src/main/java/run/halo/app/core/extension/attachment/Group.java
  api/src/main/java/run/halo/app/core/extension/content/Category.java
  api/src/main/java/run/halo/app/core/extension/content/Comment.java
  api/src/main/java/run/halo/app/core/extension/content/Reply.java
  api/src/main/java/run/halo/app/core/extension/content/SinglePage.java
  api/src/main/java/run/halo/app/core/extension/content/Snapshot.java
  api/src/main/java/run/halo/app/core/extension/content/Tag.java
  api/src/main/java/run/halo/app/extension/ExtensionOperator.java
  api/src/main/java/run/halo/app/extension/ListResult.java
  api/src/main/java/run/halo/app/extension/MetadataOperator.java
  api/src/main/java/run/halo/app/extension/Ref.java
  api/src/main/java/run/halo/app/infra/Condition.java
  api/src/main/java/run/halo/app/search/SearchParam.java
  application/src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  application/src/main/java/run/halo/app/content/ContentRequest.java
  application/src/main/java/run/halo/app/content/ListedPost.java
  application/src/main/java/run/halo/app/content/ListedSinglePage.java
  application/src/main/java/run/halo/app/content/PostRequest.java
  application/src/main/java/run/halo/app/content/SinglePageRequest.java
  application/src/main/java/run/halo/app/content/comment/CommentRequest.java
  application/src/main/java/run/halo/app/content/comment/ListedComment.java
  application/src/main/java/run/halo/app/content/comment/ListedReply.java
  application/src/main/java/run/halo/app/content/comment/ReplyRequest.java
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/ThemeReconciler.java
  application/src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
  application/src/main/java/run/halo/app/core/extension/service/RoleService.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeEndpoint.java
  application/src/main/java/run/halo/app/extension/ReactiveExtensionClientImpl.java
  application/src/main/java/run/halo/app/metrics/VisitLogWriter.java
  application/src/main/java/run/halo/app/search/extension/SearchEngine.java
  application/src/main/java/run/halo/app/security/CsrfConfigurer.java
  application/src/main/java/run/halo/app/security/authorization/AuthorizationRuleResolver.java
  application/src/main/java/run/halo/app/security/authorization/DefaultRuleResolver.java
  application/src/main/java/run/halo/app/theme/ThemePathPolicy.java
  application/src/main/java/run/halo/app/theme/finders/vo/ReplyVo.java
  application/src/test/java/run/halo/app/config/ExtensionConfigurationTest.java
  application/src/test/java/run/halo/app/content/PostIntegrationTests.java
  application/src/test/java/run/halo/app/core/extension/endpoint/UserEndpointTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/ThemeReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/service/DefaultRoleServiceTest.java
  application/src/test/java/run/halo/app/metrics/VisitLogWriterTest.java
  application/src/test/java/run/halo/app/migration/BackupReconcilerTest.java
  application/src/test/java/run/halo/app/security/LoginUtils.java
  application/src/test/java/run/halo/app/security/authentication/jwt/JwtAuthenticationTest.java
  application/src/test/java/run/halo/app/security/authentication/jwt/LoginTest.java
  application/src/test/java/run/halo/app/security/authorization/AuthorizationTest.java
  application/src/test/java/run/halo/app/security/authorization/DefaultRuleResolverTest.java
  application/src/test/java/run/halo/app/security/authorization/RequestInfoResolverTest.java
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4314 feat: add download tips in plugin and theme installation modal
  console/src/components/common/AppDownloadAlert.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/components/ThemeUploadModal.vue
  console/src/modules/system/plugins/components/PluginUploadModal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4305 fix: unable to expand the replies list of the comment
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/comments/components/ReplyListItem.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4321 fix: user detail page switching does not take effect
  console/src/modules/system/users/layouts/UserProfileLayout.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4298 Add error prompt when downloading backup files that do not exist
  application/src/main/java/run/halo/app/infra/exception/NotFoundException.java
  application/src/main/java/run/halo/app/migration/impl/MigrationServiceImpl.java
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
  application/src/test/java/run/halo/app/migration/impl/MigrationServiceImplTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4318 Remove route when single pages become unpublished
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  application/src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4316 fix: content cache was not cleaned up after the new post was saved
  console/src/composables/use-content-cache.ts
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4303 refactor: refactor pagination component to support display total items
  console/packages/components/src/components/pagination/Pagination.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/attachments/components/selector-providers/CoreSelectorProvider.vue
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/users/UserList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4322 refactor: remove the duplicate button to create a backup
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/backup/tabs/List.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4323 Prepare for releasing 2.8.0-rc.2
  console/package.json
  console/packages/api-client/package.json
  console/packages/components/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, kind/cleanup, approved

#4328 fix: click "next" on the last attachment will get null
  console/src/modules/contents/attachments/composables/use-attachment.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#4331 fix: page does not refresh or get wrong page when turn page
  console/src/modules/contents/attachments/composables/use-attachment.ts
Labels: kind/bug, lgtm, approved, area/console, release-note
