Repository halo-dev/halo, pull requests merged in 2023-11, with the labels that each got.

#4800 Fix the problem of creating PAT with hidden roles
  application/src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4805 fix: optimize editor performance and resolve freezing issues
  console/src/components/editor/DefaultEditor.vue
  console/src/composables/use-editor-extension-points.ts
Labels: kind/bug, lgtm, approved, area/console, release-note, area/editor

#4810 chore: update the waiting time for publishing post
  application/src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  application/src/test/java/run/halo/app/core/extension/endpoint/PostEndpointTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4812 [release-2.10] fix: resolve editor freezing issues
  console/src/components/editor/DefaultEditor.vue
Labels: lgtm, approved, release-note

#4804 refactor: add t parameter for plugin bundle resources
  console/src/setup/setupModules.ts
  console/src/utils/load-style.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4799 [Release-2.10] fix: resolve errors caused by blank annotations
  console/src/components/form/AnnotationsForm.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4815 fix: resolve the issue of receiving duplicate key error after deleting metadata
  console/src/components/form/AnnotationsForm.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4814 chore: update the waiting time for publishing post
  application/src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  application/src/test/java/run/halo/app/core/extension/endpoint/PostEndpointTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#4819 Upgrade to SnakeYAML 2.2
  gradle.properties
Labels: lgtm, kind/cleanup, approved, release-note

#4821 Add generator meta into head
  application/src/main/java/run/halo/app/infra/properties/ThemeProperties.java
  application/src/main/java/run/halo/app/theme/ThemeConfiguration.java
  application/src/main/java/run/halo/app/theme/dialect/GeneratorMetaProcessor.java
  application/src/test/java/run/halo/app/theme/dialect/GeneratorMetaProcessorTest.java
  application/src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
  application/src/test/resources/themes/default/templates/index.html
  application/src/test/resources/themes/other/templates/index.html
Labels: kind/feature, lgtm, area/core, approved, release-note

#4844 Fix the problem where some Windows developers are unable to build project
  api/build.gradle
  application/build.gradle
Labels: kind/bug, lgtm, area/core, approved, release-note

#4848 Upgrade to Gradle 8.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4849 Upgrade to Lombok gradle plugin 8.4
  api/build.gradle
  application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4846 feat: add devices mock preview for post and single page
  console/src/components/preview/UrlPreviewModal.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4842 Fix unit test errors on Windows environment
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/config/WebFluxConfigTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/service/impl/PluginServiceImplTest.java
  application/src/test/java/run/halo/app/infra/utils/FileUtilsTest.java
  application/src/test/java/run/halo/app/theme/ThemeConfigurationTest.java
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4850 Upgrade to Spring Boot 3.2.0-RC2
  application/build.gradle
  application/src/main/java/run/halo/app/content/comment/ReplyService.java
  application/src/main/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImpl.java
  application/src/test/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImplTest.java
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note-action-required

#4854 Upgrade to SpringDoc 2.2.1-SNAPSHOT
  api/build.gradle
  application/build.gradle
  application/src/main/java/run/halo/app/core/extension/attachment/endpoint/AttachmentEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeEndpoint.java
  application/src/main/java/run/halo/app/migration/MigrationEndpoint.java
  platform/application/build.gradle
Labels: kind/bug, lgtm, area/core, approved, release-note

#4856 Integrate with SonarCloud
  .github/workflows/halo.yaml
  api/build.gradle
  build.gradle
Labels: kind/feature, lgtm, release-note-none, area/core, approved

#4863 Disable code scanning for pull requests
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4857 feat: refine user center feature
  console/console-src/App.vue
  console/console-src/layouts/BasicLayout.vue
  console/console-src/modules/dashboard/widgets/QuickLinkWidget.vue
  console/console-src/modules/system/users/UserDetail.vue
  console/console-src/modules/system/users/tabs/Detail.vue
  console/console-src/router/constant.ts
  console/console-src/router/routes.config.ts
  console/package.json
  console/packages/components/src/icons/icons.ts
  console/pnpm-lock.yaml
  console/src/components/base-app/BaseApp.vue
  console/src/composables/use-route-menu-generator.ts
  console/src/locales/en.yaml
  console/src/locales/es.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/uc-src/App.vue
  console/uc-src/layouts/BasicLayout.vue
  console/uc-src/main.ts
  console/uc-src/modules/profile/components/ProfileEditingModal.vue
  console/uc-src/modules/profile/module.ts
  console/uc-src/modules/profile/tabs/Detail.vue
  console/uc-src/router/constant.ts
  console/uc-src/router/guards/auth-check.ts
  console/uc-src/router/guards/permission.ts
  console/uc-src/router/index.ts
  console/uc-src/router/routes.config.ts
  console/uc-src/setup/setupModules.ts
Labels: kind/feature, lgtm, release-note-none, approved, area/console

#4865 Revert "ci: push image to GHCR for pull_request event"
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, approved

#4859 Fix the problem of unable to start application through Docker image
  Dockerfile
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4877 fix: unable to compile console and uc on Windows platform
  console/src/vite/config-builder.ts
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4882 Prevent private posts from being indexed when rebuilding index.
  api/src/main/java/run/halo/app/core/extension/content/Post.java
  application/src/main/java/run/halo/app/search/IndicesServiceImpl.java
Labels: kind/bug, lgtm, approved, release-note

#4887 Respond HTTP status CREATED for system initialization API
  application/src/main/java/run/halo/app/core/extension/endpoint/SystemInitializationEndpoint.java
  application/src/test/java/run/halo/app/core/extension/endpoint/SystemInitializationEndpointTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#4899 feat: add email field for signup
  console/src/components/signup/SignupForm.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#4893 feat: add tailwindcss/forms plugin to standardize the style of form elements
  console/console-src/modules/contents/attachments/AttachmentList.vue
  console/console-src/modules/contents/attachments/components/AttachmentListItem.vue
  console/console-src/modules/contents/comments/CommentList.vue
  console/console-src/modules/contents/pages/DeletedSinglePageList.vue
  console/console-src/modules/contents/pages/SinglePageList.vue
  console/console-src/modules/contents/pages/components/SinglePageListItem.vue
  console/console-src/modules/contents/posts/DeletedPostList.vue
  console/console-src/modules/contents/posts/PostList.vue
  console/console-src/modules/contents/posts/components/PostListItem.vue
  console/console-src/modules/system/plugins/PluginList.vue
  console/console-src/modules/system/plugins/components/PluginListItem.vue
  console/console-src/modules/system/roles/RoleDetail.vue
  console/console-src/modules/system/roles/components/RoleEditingModal.vue
  console/console-src/modules/system/users/UserList.vue
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/global-search/GlobalSearchModal.vue
  console/src/formkit/theme.ts
  console/src/styles/tailwind.css
  console/tailwind.config.js
  console/uc-src/modules/profile/components/PersonalAccessTokenCreationModal.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4892 test: add e2e testing for the backend
  .github/workflows/halo.yaml
  CONTRIBUTING.md
  e2e/Dockerfile
  e2e/README.md
  e2e/compose.yaml
  e2e/start.sh
  e2e/testsuite.yaml
Labels: lgtm, release-note-none, approved, kind/improvement

#4900 refactor: redirect to user center by default after registration
  console/console-src/modules/system/users/Login.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4904 Upgrade to Spring Boot 3.2.0
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note-action-required

#4903 fix: the image tag might be wrong when it is not a pr
  .github/workflows/halo.yaml
  .gitignore
Labels: kind/bug, lgtm, release-note-none, approved

#4896 chore: use ibm-semeru-runtimes to replace eclipse-temurin as the base image
  .github/workflows/halo.yaml
  Dockerfile
Labels: lgtm, tide/merge-method-merge, area/core, approved, release-note, kind/improvement

#4890 Fix the issue with repeatedly building plugin RouterFunction for CustomEndpoints
  application/src/main/java/run/halo/app/plugin/AggregatedRouterFunction.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginCompositeRouterFunction.java
  application/src/main/java/run/halo/app/plugin/event/HaloPluginStartedEvent.java
  application/src/test/java/run/halo/app/plugin/PluginCompositeRouterFunctionTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4910 Reset base Docker image of builder to eclipse-temurin
  Dockerfile
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4922 fix: overflow issue of card component
  console/console-src/layouts/BasicLayout.vue
  console/console-src/modules/interface/themes/ThemeDetail.vue
  console/console-src/modules/interface/themes/ThemeSetting.vue
  console/console-src/modules/interface/themes/layouts/ThemeLayout.vue
  console/console-src/modules/system/plugins/PluginDetail.vue
  console/console-src/modules/system/plugins/tabs/Detail.vue
  console/console-src/modules/system/plugins/tabs/Setting.vue
  console/packages/components/src/components/card/Card.vue
  console/uc-src/layouts/BasicLayout.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4919 feat: add sticky block component
  console/console-src/modules/interface/themes/ThemeSetting.vue
  console/console-src/modules/system/plugins/tabs/Setting.vue
  console/console-src/modules/system/settings/SystemSettings.vue
  console/console-src/modules/system/settings/tabs/NotificationSetting.vue
  console/console-src/modules/system/settings/tabs/Setting.vue
  console/src/components/sticky-block/StickyBlock.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4915 chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.en.yml
  .github/ISSUE_TEMPLATE/bug_report.zh.yml
Labels: lgtm, release-note-none, kind/cleanup, approved

#4913 chore: bump formkit version to 1.3.0
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4909 feat: generate id for heading in the default editor
  console/src/components/editor/DefaultEditor.vue
  console/src/utils/__tests__/anchor.spec.ts
  console/src/utils/anchor.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4897 feat: add support for displaying enabled plugins on actuator page
  console/console-src/modules/system/actuator/Actuator.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4898 feat: exposure actuator endpoints to improve observability
  application/src/main/resources/application.yaml
  application/src/main/resources/extensions/role-template-actuator.yaml
Labels: kind/feature, lgtm, area/core, approved, release-note

#4906 feat: add delete function for user notification
  application/src/main/java/run/halo/app/notification/DefaultNotificationService.java
  application/src/main/java/run/halo/app/notification/UserNotificationService.java
  application/src/main/java/run/halo/app/notification/endpoint/UserNotificationEndpoint.java
  application/src/main/resources/extensions/role-template-authenticated.yaml
  console/packages/api-client/src/api/api-notification-halo-run-v1alpha1-notification-api.ts
  console/uc-src/modules/notifications/Notifications.vue
  console/uc-src/modules/notifications/components/NotificationListItem.vue
  e2e/testsuite.yaml
Labels: kind/feature, lgtm, area/core, approved, area/console, release-note

#4916 feat: add ui-plugin-bundler-kit package
  console/packages/ui-plugin-bundler-kit/.eslintignore
  console/packages/ui-plugin-bundler-kit/.eslintrc.js
  console/packages/ui-plugin-bundler-kit/.prettierrc.cjs
  console/packages/ui-plugin-bundler-kit/build.config.ts
  console/packages/ui-plugin-bundler-kit/package.json
  console/packages/ui-plugin-bundler-kit/src/index.ts
  console/packages/ui-plugin-bundler-kit/tsconfig.json
  console/pnpm-lock.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#4918 feat: support for configuring the redirection location after login for roles
  console/console-src/modules/system/roles/components/RoleEditingModal.vue
  console/console-src/router/guards/auth-check.ts
  console/src/constants/annotations.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#4878 feat: support user email verification mechanism
  api/src/main/java/run/halo/app/core/extension/User.java
  application/src/main/java/run/halo/app/core/extension/endpoint/UserEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/EmailVerificationService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/EmailVerificationServiceImpl.java
  application/src/main/java/run/halo/app/infra/ValidationUtils.java
  application/src/main/java/run/halo/app/infra/exception/EmailVerificationFailed.java
  application/src/main/resources/application.yaml
  application/src/main/resources/config/i18n/messages.properties
  application/src/main/resources/config/i18n/messages_zh.properties
  application/src/main/resources/extensions/notification-templates.yaml
  application/src/main/resources/extensions/notification.yaml
  application/src/main/resources/extensions/role-template-authenticated.yaml
  application/src/test/java/run/halo/app/core/extension/endpoint/EmailVerificationCodeTest.java
  application/src/test/java/run/halo/app/core/extension/service/impl/EmailVerificationServiceImplTest.java
  application/src/test/java/run/halo/app/infra/ValidationUtilsTest.java
  application/src/test/java/run/halo/app/theme/finders/vo/UserVoTest.java
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-system-api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-user-api.ts
  console/packages/api-client/src/models/email-verify-request.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/user-spec.ts
  console/packages/api-client/src/models/verify-code-request.ts
  console/packages/api-client/src/models/verify-email-request.ts
  console/uc-src/modules/profile/Profile.vue
  console/uc-src/modules/profile/components/EmailVerifyModal.vue
  console/uc-src/modules/profile/components/ProfileEditingModal.vue
  console/uc-src/modules/profile/tabs/Detail.vue
  docs/email-verification/README.md
Labels: kind/feature, lgtm, area/core, approved, release-note

#4924 chore: bump editor version and let it load globally
  console/package.json
  console/pnpm-lock.yaml
  console/src/vite/library-external.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement, area/editor

#4938 test: run e2e testing on all supported databases
  .github/workflows/halo.yaml
  e2e/Makefile
  e2e/compose-mysql.yaml
  e2e/compose-postgres.yaml
  e2e/compose.yaml
Labels: lgtm, release-note-none, approved, kind/improvement

#4945 feat: refine ui permissions of actuator page
  console/console-src/modules/system/actuator/module.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4862 feat: add supports for provide theme templates in plugin class path
  api/src/main/java/run/halo/app/theme/TemplateNameResolver.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationInitializer.java
  application/src/main/java/run/halo/app/theme/DefaultTemplateNameResolver.java
  application/src/main/java/run/halo/app/theme/DefaultViewNameResolver.java
  application/src/main/java/run/halo/app/theme/TemplateEngineManager.java
  application/src/main/java/run/halo/app/theme/ViewNameResolver.java
  application/src/main/java/run/halo/app/theme/engine/PluginClassloaderTemplateResolver.java
  application/src/main/java/run/halo/app/theme/router/PreviewRouterFunction.java
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  application/src/main/java/run/halo/app/theme/router/factories/CategoryPostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  application/src/test/java/run/halo/app/theme/ViewNameResolverTest.java
  application/src/test/java/run/halo/app/theme/engine/PluginClassloaderTemplateResolverTest.java
  application/src/test/java/run/halo/app/theme/router/PreviewRouterFunctionTest.java
  application/src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
  application/src/test/java/run/halo/app/theme/router/factories/PostRouteFactoryTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#4866 Support managing posts in the user center
  api/src/main/java/run/halo/app/core/extension/attachment/endpoint/SimpleFilePart.java
  api/src/main/java/run/halo/app/core/extension/content/Snapshot.java
  api/src/main/java/run/halo/app/core/extension/service/AttachmentService.java
  api/src/main/java/run/halo/app/extension/Ref.java
  api/src/main/java/run/halo/app/infra/SystemSetting.java
  application/src/main/java/run/halo/app/config/SwaggerConfig.java
  application/src/main/java/run/halo/app/content/AbstractContentService.java
  application/src/main/java/run/halo/app/content/Content.java
  application/src/main/java/run/halo/app/content/PostQuery.java
  application/src/main/java/run/halo/app/content/PostRequest.java
  application/src/main/java/run/halo/app/content/PostService.java
  application/src/main/java/run/halo/app/content/SinglePageRequest.java
  application/src/main/java/run/halo/app/content/SnapshotService.java
  application/src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  application/src/main/java/run/halo/app/content/impl/SnapshotServiceImpl.java
  application/src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/SinglePageEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/DefaultAttachmentService.java
  application/src/main/java/run/halo/app/endpoint/uc/content/UcPostAttachmentEndpoint.java
  application/src/main/java/run/halo/app/endpoint/uc/content/UcPostEndpoint.java
  application/src/main/java/run/halo/app/endpoint/uc/content/UcSnapshotEndpoint.java
  application/src/main/resources/extensions/role-template-category.yaml
  application/src/main/resources/extensions/role-template-uc-content.yaml
  application/src/main/resources/extensions/system-configurable-configmap.yaml
  application/src/main/resources/extensions/system-setting.yaml
  application/src/test/java/run/halo/app/content/PostQueryTest.java
  application/src/test/java/run/halo/app/core/extension/endpoint/PostEndpointTest.java
  console/console-src/modules/contents/pages/SinglePageEditor.vue
  console/console-src/modules/contents/posts/PostEditor.vue
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/uc-api-content-halo-run-v1alpha1-attachment-api.ts
  console/packages/api-client/src/api/uc-api-content-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/api/uc-api-content-halo-run-v1alpha1-snapshot-api.ts
  console/packages/api-client/src/api/uc-content-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/post-request-content.ts
  console/packages/api-client/src/models/post-request.ts
  console/src/components/dropdown-selector/EditorProviderSelector.vue
  console/src/components/editor/DefaultEditor.vue
  console/src/composables/use-editor-extension-points.ts
  console/src/constants/annotations.ts
  console/src/formkit/inputs/category-select/CategorySelect.vue
  console/src/formkit/inputs/tag-select/TagSelect.vue
  console/src/locales/en.yaml
  console/src/locales/es.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/utils/api-client.ts
  console/uc-src/modules/contents/posts/PostEditor.vue
  console/uc-src/modules/contents/posts/PostList.vue
  console/uc-src/modules/contents/posts/components/PostCreationModal.vue
  console/uc-src/modules/contents/posts/components/PostListItem.vue
  console/uc-src/modules/contents/posts/components/PostSettingEditModal.vue
  console/uc-src/modules/contents/posts/components/PostSettingForm.vue
  console/uc-src/modules/contents/posts/module.ts
  console/uc-src/modules/contents/posts/types/index.ts
  console/uc-src/modules/notifications/module.ts
  console/uc-src/modules/profile/module.ts
Labels: kind/feature, lgtm, release-note-none, area/core, kind/api-change, approved

#4937 fix: issue of content overflow in the console page
  console/console-src/layouts/BasicLayout.vue
  console/uc-src/layouts/BasicLayout.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4942 feat: add supports for hide the sidebar of editor
  console/packages/editor/src/components/block/BlockActionInput.vue
  console/packages/editor/src/components/bubble/BubbleItem.vue
  console/packages/editor/src/extensions/iframe/IframeView.vue
  console/packages/editor/src/extensions/image/BubbleItemImageSize.vue
  console/packages/editor/src/extensions/image/ImageView.vue
  console/packages/editor/src/extensions/image/index.ts
  console/packages/editor/src/extensions/video/BubbleItemVideoSize.vue
  console/packages/editor/src/extensions/video/VideoView.vue
  console/src/components/editor/DefaultEditor.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note, area/editor

#4959 Fix the problem of incorrect old data passed to watcher during updates
  api/src/main/java/run/halo/app/extension/JsonExtension.java
  application/src/main/java/run/halo/app/extension/ReactiveExtensionClientImpl.java
  application/src/test/java/run/halo/app/extension/FakeExtension.java
  application/src/test/java/run/halo/app/extension/ReactiveExtensionClientTest.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#4957 feat: refine i18n for uc
  console/console-src/layouts/BasicLayout.vue
  console/console-src/modules/system/roles/components/RoleEditingModal.vue
  console/console-src/modules/system/users/UserDetail.vue
  console/console-src/modules/system/users/widgets/NotificationWidget.vue
  console/packages/editor/src/locales/zh-CN.yaml
  console/src/components/user-avatar/UserAvatar.vue
  console/src/components/user-avatar/UserAvatarCropper.vue
  console/src/locales/en.yaml
  console/src/locales/es.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/uc-src/layouts/BasicLayout.vue
  console/uc-src/modules/contents/posts/PostEditor.vue
  console/uc-src/modules/contents/posts/PostList.vue
  console/uc-src/modules/contents/posts/components/PostListItem.vue
  console/uc-src/modules/contents/posts/components/PostSettingEditModal.vue
  console/uc-src/modules/contents/posts/module.ts
  console/uc-src/modules/notifications/Notifications.vue
  console/uc-src/modules/notifications/components/NotificationListItem.vue
  console/uc-src/modules/notifications/module.ts
  console/uc-src/modules/profile/Profile.vue
  console/uc-src/modules/profile/components/EmailVerifyModal.vue
  console/uc-src/modules/profile/components/PasswordChangeModal.vue
  console/uc-src/modules/profile/components/PersonalAccessTokenCreationModal.vue
  console/uc-src/modules/profile/components/PersonalAccessTokenListItem.vue
  console/uc-src/modules/profile/components/ProfileEditingModal.vue
  console/uc-src/modules/profile/module.ts
  console/uc-src/modules/profile/tabs/Detail.vue
  console/uc-src/modules/profile/tabs/NotificationPreferences.vue
  console/uc-src/modules/profile/tabs/PersonalAccessTokens.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4955 fix: add disabled validation to the addButton click event for the repeater
  console/src/formkit/inputs/repeater/AddButton.vue
Labels: kind/bug, lgtm, approved, area/console, release-note
