Repository halo-dev/halo, pull requests merged in 2023-09, with the labels that each got.

#4510 feat: add support for saving post by shortcut keys
  console/src/components/button/SubmitButton.vue
  console/src/composables/use-save-keybinding.ts
  console/src/layouts/BasicLayout.vue
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
  console/src/utils/device.ts
Labels: lgtm, approved, area/console, release-note, area/editor

#4460 Add Spanish (ES) locale
  console/src/locales/es.yaml
  console/src/locales/index.ts
Labels: lgtm, approved, release-note

#4511 feat: add restore by backup record supports
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/backup/components/BackupListItem.vue
  console/src/modules/system/backup/composables/use-backup.ts
  console/src/modules/system/backup/tabs/List.vue
  console/src/modules/system/backup/tabs/Restore.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4528 feat: make field items of post data list extendable
  console/docs/extension-points/entity-listitem-field.md
  console/packages/shared/src/types/plugin.ts
  console/src/modules/contents/comments/components/CommentListItem.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/components/PostListItem.vue
  console/src/modules/contents/posts/components/entity-fields/ContributorsField.vue
  console/src/modules/contents/posts/components/entity-fields/PublishStatusField.vue
  console/src/modules/contents/posts/components/entity-fields/TitleField.vue
  console/src/modules/contents/posts/components/entity-fields/VisibleField.vue
  console/src/modules/interface/themes/components/ThemeListItem.vue
  console/src/modules/system/backup/components/BackupListItem.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#4533 Prepare for developing Halo 2.10.0
  README.md
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4535 [release-2.9] Prepare for developing 2.9.1
  README.md
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
  gradle.properties
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4553 [release-2.9] Adapt GitHub workflow for branch release-2.9
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4558 feat: add supports for check started status after start plugin operation
  console/src/modules/system/plugins/composables/use-plugin.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4563 fix: operation items render issue in theme list
  console/src/modules/interface/themes/components/ThemeListItem.vue
  console/src/modules/interface/themes/components/list-tabs/InstalledThemes.vue
  console/src/modules/interface/themes/components/operation/MoreOperationItem.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4552 Fix the problem of username being case-insensitive and logging in without permissions
  application/src/main/java/run/halo/app/security/DefaultUserDetailService.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4557 refactor: set cache-control for bundle resources of plugin
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4562 refactor: complete default values for global settings
  application/src/main/resources/extensions/system-configurable-configmap.yaml
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4567 pref: do not auto save when the setting modal is open
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/posts/PostEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4556 Prevent basic authentication from popping up
  application/src/main/java/run/halo/app/config/WebServerSecurityConfig.java
  application/src/main/java/run/halo/app/security/DefaultServerAuthenticationEntryPoint.java
  application/src/test/java/run/halo/app/security/DefaultServerAuthenticationEntryPointTest.java
Labels: lgtm, area/core, kind/api-change, approved, release-note, kind/improvement

#4576 fix: i18n key of theme remote download tab label
  console/src/locales/en.yaml
Labels: kind/bug, lgtm, approved, area/console, release-note

#4551 feat: add strategy setting for post slug generation
  api/src/main/java/run/halo/app/infra/SystemSetting.java
  application/src/main/java/run/halo/app/actuator/GlobalInfoEndpoint.java
  application/src/main/resources/extensions/system-configurable-configmap.yaml
  application/src/main/resources/extensions/system-setting.yaml
  console/package.json
  console/pnpm-lock.yaml
  console/src/composables/use-slugify.ts
  console/src/modules/contents/pages/components/SinglePageSettingModal.vue
  console/src/modules/contents/posts/categories/components/CategoryEditingModal.vue
  console/src/modules/contents/posts/components/PostSettingModal.vue
  console/src/modules/contents/posts/tags/components/TagEditingModal.vue
  console/src/modules/system/settings/tabs/Setting.vue
  console/src/setup/setupModules.ts
  console/src/types/actuator.ts
  console/src/types/slug.ts
Labels: lgtm, approved, release-note, kind/improvement

#4587 feat: improve the styles of the data list filter area on the mobile devices
  console/src/components/input/SearchInput.vue
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/pages/DeletedSinglePageList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/DeletedPostList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/users/UserList.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4615 chore: update download url of presets plugin
  application/build.gradle
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#4621 fix: ts error in components package
  console/packages/components/src/components/dialog/Dialog.vue
  console/packages/components/src/components/toast/Toast.vue
Labels: lgtm, release-note-none, kind/cleanup, approved, area/console

#4591 fix: bundle resources cache version may duplicate
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/test/java/run/halo/app/core/extension/service/impl/PluginServiceImplTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4641 chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.en.yml
  .github/ISSUE_TEMPLATE/bug_report.zh.yml
  .github/ISSUE_TEMPLATE/feature_request.en.yml
  .github/ISSUE_TEMPLATE/feature_request.zh.yml
Labels: lgtm, release-note-none, approved

#4642 chore: bump formkit version to 1.1.0
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4622 fix: twice requests in menus page
  console/src/modules/interface/menus/Menus.vue
  console/src/modules/interface/menus/components/MenuList.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4636 fix: missing permission check in plugin installation tabs and theme list tabs extension points
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/system/plugins/components/PluginInstallationModal.vue
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#4618 fix: not using the default template when the custom template does not exist
  application/src/main/java/run/halo/app/theme/router/ViewNameResolver.java
  application/src/test/java/run/halo/app/theme/router/ViewNameResolverTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#4657 fix: unable to display if the logo changes after the plugin upgrade
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note, area/plugin

#4644 fix: can not change ref type in menu item modal
  console/src/formkit/inputs/category-select/index.ts
  console/src/formkit/inputs/tag-select/index.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#4658 fix: can not create category by click in category select component
  console/src/formkit/inputs/category-select/CategorySelect.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#4664 refactor: user detail page structure
  console/src/modules/system/users/UserDetail.vue
  console/src/modules/system/users/components/UserAvatar.vue
  console/src/modules/system/users/layouts/UserProfileLayout.vue
  console/src/modules/system/users/module.ts
  console/src/modules/system/users/tabs/Detail.vue
  console/src/modules/system/users/tabs/PersonalAccessTokens.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4589 feat: support running plugins from JAR in development mode
  api/src/main/java/run/halo/app/plugin/BasePlugin.java
  api/src/main/java/run/halo/app/plugin/PluginContext.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/plugin/BasePluginFactory.java
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/java/run/halo/app/plugin/HaloPluginWrapper.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginAutoConfiguration.java
  application/src/main/java/run/halo/app/plugin/SpringExtensionFactory.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#4635 feat: add configration route for auth provider item
  console/src/modules/system/auth-providers/components/AuthProviderListItem.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4668 chore: update preset plugins
  application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4665 Upgrade to Spring Boot 3.1.4
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4666 Upgrade to PF4J 3.10.0
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#4639 perf: optimizing request plugin bundle resources
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/service/PluginService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/test/java/run/halo/app/core/extension/endpoint/PluginEndpointTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4663 refactor: plugin resource loading to only load from plugin itself instead of delegating to core
  application/src/main/java/run/halo/app/plugin/PluginAutoConfiguration.java
Labels: lgtm, area/core, approved, release-note, kind/improvement, area/plugin

#4638 feat: refine notifications-related ui
  console/.eslintrc.cjs
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-notification-api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-notifier-api.ts
  console/packages/api-client/src/api/api-notification-halo-run-v1alpha1-notification-api.ts
  console/packages/api-client/src/api/api-notification-halo-run-v1alpha1-notifier-api.ts
  console/packages/api-client/src/api/api-notification-halo-run-v1alpha1-subscription-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-notification-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-notification-template-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-notifier-descriptor-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-reason-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-reason-type-api.ts
  console/packages/api-client/src/api/notification-halo-run-v1alpha1-subscription-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/interest-reason-subject.ts
  console/packages/api-client/src/models/interest-reason.ts
  console/packages/api-client/src/models/mark-specified-request.ts
  console/packages/api-client/src/models/notification-list.ts
  console/packages/api-client/src/models/notification-spec.ts
  console/packages/api-client/src/models/notification-template-list.ts
  console/packages/api-client/src/models/notification-template-spec.ts
  console/packages/api-client/src/models/notification-template.ts
  console/packages/api-client/src/models/notification.ts
  console/packages/api-client/src/models/notifier-descriptor-list.ts
  console/packages/api-client/src/models/notifier-descriptor-spec.ts
  console/packages/api-client/src/models/notifier-descriptor.ts
  console/packages/api-client/src/models/notifier-setting-ref.ts
  console/packages/api-client/src/models/reason-list.ts
  console/packages/api-client/src/models/reason-property.ts
  console/packages/api-client/src/models/reason-selector.ts
  console/packages/api-client/src/models/reason-spec-attributes.ts
  console/packages/api-client/src/models/reason-spec.ts
  console/packages/api-client/src/models/reason-subject.ts
  console/packages/api-client/src/models/reason-type-list.ts
  console/packages/api-client/src/models/reason-type-spec.ts
  console/packages/api-client/src/models/reason-type.ts
  console/packages/api-client/src/models/reason.ts
  console/packages/api-client/src/models/subscription-list.ts
  console/packages/api-client/src/models/subscription-spec.ts
  console/packages/api-client/src/models/subscription-subscriber.ts
  console/packages/api-client/src/models/subscription.ts
  console/packages/api-client/src/models/template-content.ts
  console/packages/components/src/icons/icons.ts
  console/src/layouts/BasicLayout.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/dashboard/Dashboard.vue
  console/src/modules/index.ts
  console/src/modules/system/settings/SystemSettings.vue
  console/src/modules/system/settings/tabs/NotificationSetting.vue
  console/src/modules/system/settings/tabs/Notifications.vue
  console/src/modules/system/users/Notifications.vue
  console/src/modules/system/users/components/NotificationContent.vue
  console/src/modules/system/users/components/NotificationListItem.vue
  console/src/modules/system/users/module.ts
  console/src/modules/system/users/widgets/NotificationWidget.vue
  console/src/utils/api-client.ts
Labels: kind/feature, lgtm, release-note-none, approved, area/console
