Repository halo-dev/halo, pull requests merged in 2023-05, with the labels that each got.

#3880 fix: user avatar link does not support relative paths
  console/src/modules/system/users/components/UserCreationModal.vue
  console/src/modules/system/users/components/UserEditingModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3892 refactor: add system initialization check and redirect to console if not initialized
  application/src/main/java/run/halo/app/infra/SetupStateCache.java
  application/src/main/java/run/halo/app/security/InitializeRedirectionWebFilter.java
  application/src/test/java/run/halo/app/security/InitializeRedirectionWebFilterTest.java
  application/src/test/java/run/halo/app/theme/message/ThemeMessageResolverIntegrationTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3894 fix: failed to initialize the preset plugins
  console/src/views/system/Setup.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3878 fix: the label of some radio is displayed incorrectly
  console/src/formkit/plugins/required-asterisk.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#3897 chore: bump up version to 2.5.2
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved

#3909 Fix the problem of resolving authentication in template when using curl or ab command
  application/src/main/java/run/halo/app/theme/ReactivePropertyAccessor.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3916 Upgrade version to 2.6.0-SNAPSHOT
  README.md
  gradle.properties
Labels: lgtm, release-note-none, area/core, approved

#3877 Fix the problem of being able to search deleted posts
  api/src/main/java/run/halo/app/core/extension/content/Constant.java
  api/src/main/java/run/halo/app/extension/ExtensionOperator.java
  api/src/main/java/run/halo/app/extension/ExtensionUtil.java
  api/src/main/java/run/halo/app/search/post/PostSearchService.java
  api/src/test/java/run/halo/app/extension/ExtensionUtilTest.java
  application/src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  application/src/main/java/run/halo/app/event/post/PostUpdatedEvent.java
  application/src/main/java/run/halo/app/event/post/PostVisibleChangedEvent.java
  application/src/main/java/run/halo/app/extension/ExtensionStoreUtil.java
  application/src/main/java/run/halo/app/extension/JSONExtensionConverter.java
  application/src/main/java/run/halo/app/extension/ReactiveExtensionClientImpl.java
  application/src/main/java/run/halo/app/search/IndicesServiceImpl.java
  application/src/main/java/run/halo/app/search/post/LucenePostSearchService.java
  application/src/main/java/run/halo/app/search/post/PostEventReconciler.java
  application/src/main/java/run/halo/app/theme/finders/PostFinder.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
  application/src/test/java/run/halo/app/extension/ExtensionStoreUtilTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note, kind/improvement

#3917 Upgrade to Spring Boot 3.1.0-RC2
  api/build.gradle
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3928 refactor: make tanstack query's network mode option to always
  console/src/setup/setupVueQuery.ts
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#3926 refactor: remove the codemirror of the component package and change it to built-in
  console/package.json
  console/packages/components/package.json
  console/packages/components/src/components.ts
  console/packages/components/src/components/codemirror/Codemirror.story.vue
  console/packages/components/src/components/codemirror/__tests__/Codemirror.spec.ts
  console/packages/components/src/components/codemirror/index.ts
  console/pnpm-lock.yaml
  console/src/components/codemirror/Codemirror.vue
  console/src/formkit/inputs/code/CodeInput.vue
  console/src/setup/setupComponents.ts
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3935 chore: bump pnpm version to 8
  console/README.md
  console/pnpm-lock.yaml
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3925 fix: plugin startup failed issue on Windows system
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3938 fix: theme page displays error without management permissions.
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3954 Fix the problem of inconsistent OpenAPI generation
  api/src/main/java/run/halo/app/extension/router/QueryParamBuildUtil.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#3919 refactor: improve the accessibility of action items in some data list
  console/packages/components/src/components/entity/Entity.vue
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/attachments/AttachmentList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3945 refactor: abnormal status display of plugin management
  console/src/modules/system/plugins/PluginDetail.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/plugins/composables/use-plugin.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#3939 feat: add the ability to install themes remotely via URI
  application/src/main/java/run/halo/app/core/extension/theme/ThemeEndpoint.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeUtils.java
  application/src/main/java/run/halo/app/infra/DefaultReactiveUrlDataBufferFetcher.java
  application/src/main/java/run/halo/app/infra/ReactiveUrlDataBufferFetcher.java
  application/src/main/java/run/halo/app/infra/exception/ThemeAlreadyExistsException.java
  application/src/main/resources/extensions/role-template-theme.yaml
  application/src/test/java/run/halo/app/core/extension/theme/ThemeEndpointTest.java
  console/packages/api-client/src/.openapi-generator/FILES
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-theme-api.ts
  console/packages/api-client/src/models/index.ts
  console/packages/api-client/src/models/install-from-uri-request.ts
  console/packages/api-client/src/models/upgrade-from-uri-request.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/ThemeUploadModal.vue
  console/src/modules/interface/themes/layouts/ThemeLayout.vue
Labels: lgtm, area/core, kind/api-change, approved, release-note, kind/improvement

#3974 fix: add keyword search functionality to AuthProvider list
  console/src/modules/system/auth-providers/AuthProviders.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#3978 perf: improve the logic of input selection for category and tag
  console/src/formkit/inputs/category-select/CategorySelect.vue
  console/src/formkit/inputs/tag-select/TagSelect.vue
Labels: lgtm, release-note-none, approved

#3977 fix: fix plugin detail page protocol name duplication issue
  console/src/modules/system/plugins/PluginDetail.vue
Labels: kind/bug, lgtm, release-note-none, approved

#3981 chore: bump eslint and prettier related packages version
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3956 refactor: sorting parameters to maintain a unified API style
  application/src/main/java/run/halo/app/content/PostQuery.java
  application/src/main/java/run/halo/app/content/SinglePageQuery.java
  application/src/main/java/run/halo/app/content/SinglePageSorter.java
  application/src/main/java/run/halo/app/content/comment/CommentQuery.java
  application/src/main/java/run/halo/app/content/comment/CommentServiceImpl.java
  application/src/main/java/run/halo/app/content/comment/CommentSorter.java
  application/src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  application/src/main/java/run/halo/app/content/impl/SinglePageServiceImpl.java
  application/src/main/java/run/halo/app/core/extension/endpoint/CommentEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/PostEndpoint.java
  application/src/main/java/run/halo/app/core/extension/endpoint/SinglePageEndpoint.java
  application/src/main/java/run/halo/app/extension/Comparators.java
  application/src/main/java/run/halo/app/theme/endpoint/SortableRequest.java
  application/src/test/java/run/halo/app/content/PostQueryTest.java
  application/src/test/java/run/halo/app/content/comment/CommentQueryTest.java
  application/src/test/java/run/halo/app/content/comment/CommentServiceImplTest.java
  application/src/test/java/run/halo/app/content/comment/CommentSorterTest.java
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-comment-api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-single-page-api.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/contents/comments/CommentList.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostList.vue
  console/src/modules/contents/posts/widgets/RecentPublishedWidget.vue
Labels: lgtm, area/core, kind/api-change, approved, area/console, release-note, kind/improvement

#3996 Upgrade to Spring Boot 3.1.0
  application/build.gradle
  platform/application/build.gradle
Labels: lgtm, area/core, kind/cleanup, approved, release-note

#3980 chore: bump uppy packages
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#3989 feat: login page supports redirect_uri parameter
  console/src/modules/system/users/Login.vue
  console/src/router/guards/auth-check.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#3970 feat: prompt to upgrade theme when installing existing theme
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/interface/themes/components/ThemeListModal.vue
  console/src/modules/interface/themes/components/ThemeUploadModal.vue
Labels: kind/feature, lgtm, approved, area/console, release-note

#3983 feat: implement a feature for previewing posts and single pages
  application/src/main/java/run/halo/app/theme/dialect/ContentTemplateHeadProcessor.java
  application/src/main/java/run/halo/app/theme/dialect/TemplateGlobalHeadProcessor.java
  application/src/main/java/run/halo/app/theme/finders/SinglePageConversionService.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/SinglePageConversionServiceImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/SinglePageFinderImpl.java
  application/src/main/java/run/halo/app/theme/router/ModelConst.java
  application/src/main/java/run/halo/app/theme/router/ModelMapUtils.java
  application/src/main/java/run/halo/app/theme/router/PreviewRouterFunction.java
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  application/src/main/java/run/halo/app/theme/router/factories/ArchiveRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/AuthorPostsRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/CategoriesRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/CategoryPostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/IndexRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/RouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/TagsRouteFactory.java
  application/src/test/java/run/halo/app/theme/dialect/HaloProcessorDialectTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/SinglePageFinderImplTest.java
  application/src/test/java/run/halo/app/theme/router/PreviewRouterFunctionTest.java
  application/src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
  application/src/test/java/run/halo/app/theme/router/factories/PostRouteFactoryTest.java
  application/src/test/java/run/halo/app/theme/router/factories/RouteFactoryTest.java
  console/src/modules/contents/pages/SinglePageEditor.vue
  console/src/modules/contents/pages/SinglePageList.vue
  console/src/modules/contents/posts/PostEditor.vue
  console/src/modules/contents/posts/PostList.vue
Labels: kind/feature, lgtm, area/core, approved, area/console, release-note

#3936 perf: data desensitization for comments and replies
  application/src/main/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImpl.java
  application/src/test/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImplTest.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#3963 feat: add the ability to install plugins remotely via URI
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/theme/ThemeEndpoint.java
  application/src/main/resources/extensions/role-template-plugin.yaml
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-plugin-api.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/modules/system/plugins/PluginList.vue
  console/src/modules/system/plugins/components/PluginListItem.vue
  console/src/modules/system/plugins/components/PluginUploadModal.vue
Labels: kind/feature, lgtm, area/core, kind/api-change, approved, area/console, release-note

#3998 chore: bump up version to 2.6.0-rc.1
  console/package.json
  console/packages/api-client/package.json
  console/packages/shared/package.json
Labels: lgtm, release-note-none, approved

#4005 refactor: use createWebHistory instead of createWebHashHistory
  console/src/router/guards/auth-check.ts
  console/src/router/index.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4007 fix: text content overflowing the container in the dialog component
  console/packages/components/src/components/dialog/Dialog.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#4013 Fix the problem of crashing requests when slug names of single page contains special chars
  application/src/main/java/run/halo/app/theme/router/SinglePageRoute.java
  application/src/test/java/run/halo/app/theme/router/SinglePageRouteTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#3918 Replace R2DBC MySQL driver to io.asyncer:r2dbc-mysql
  api/build.gradle
  gradle.properties
  platform/application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#4014 perf: improve the experience of redirection after login
  console/src/modules/system/users/Login.vue
  console/src/router/guards/auth-check.ts
  console/src/router/routes.config.ts
  console/src/views/system/Redirect.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#4018 Adapt HTML5 history mode of console in non-proxy mode
  application/src/main/java/run/halo/app/config/WebFluxConfig.java
  application/src/test/java/run/halo/app/config/WebFluxConfigTest.java
  application/src/test/resources/console/assets/fake.txt
Labels: kind/bug, lgtm, release-note-none, area/core, approved
