Repository halo-dev/halo, pull requests merged in 2024-01, with the labels that each got.

#5102 fix: Backspace does not work properly behind list
  console/packages/editor/package.json
  console/packages/editor/src/dev/App.vue
  console/packages/editor/src/extensions/index.ts
  console/packages/editor/src/extensions/list-keymap/index.ts
  console/pnpm-lock.yaml
  console/src/components/editor/DefaultEditor.vue
Labels: kind/bug, lgtm, approved, release-note

#5137 chore: bump formkit version to 1.4.0
  console/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5140 fix: address styling issues with empty lines in code blocks
  console/packages/editor/src/styles/base.scss
Labels: kind/bug, lgtm, approved, release-note

#5153 feat: add powered by information in page footer
  console/console-src/layouts/BasicLayout.vue
  console/console-src/modules/contents/pages/module.ts
  console/console-src/modules/contents/posts/module.ts
  console/env.d.ts
  console/src/components/base-app/BaseApp.vue
  console/uc-src/layouts/BasicLayout.vue
  console/uc-src/modules/contents/posts/module.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5167 chore: make editor lib external for plugin
  console/packages/ui-plugin-bundler-kit/src/index.ts
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5170 Refactor workflow by not using composite actions from halo-sigs/actions
  .github/actions/docker-buildx-push/action.yaml
  .github/actions/setup-env/action.yaml
  .github/workflows/halo.yaml
  application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5165 refactor: logic of pat creation modal
  console/uc-src/modules/profile/components/PersonalAccessTokenCreationModal.vue
  console/uc-src/modules/profile/tabs/PersonalAccessTokens.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5168 refactor: logic of email verify modal
  console/uc-src/modules/profile/components/EmailVerifyModal.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5173 chore: bump tiptap version to 2.1.15
  console/package.json
  console/packages/editor/package.json
  console/pnpm-lock.yaml
Labels: lgtm, approved, area/console, kind/improvement

#5164 refactor: simplify the logic of importing module
  console/console-src/modules/index.ts
  console/console-src/modules/system/auth-providers/module.ts
  console/console-src/modules/system/roles/module.ts
  console/console-src/modules/system/users/module.ts
  console/console-src/setup/setupModules.ts
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5169 refactor: logic of post setting modal
  console/uc-src/modules/contents/posts/components/PostCreationModal.vue
  console/uc-src/modules/contents/posts/components/PostSettingEditModal.vue
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5166 fix: resolve the issue of reduced row count after merging cells
  console/packages/editor/src/extensions/table/table-row.ts
Labels: kind/bug, lgtm, approved, release-note, area/editor

#5181 fix: revert es i18n file
  console/src/locales/es.yaml
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#5148 Refactor plugin reconciliation to ensure only one update on plugin
  api/src/main/java/run/halo/app/core/extension/Plugin.java
  api/src/main/java/run/halo/app/core/extension/Setting.java
  api/src/main/java/run/halo/app/extension/controller/DefaultController.java
  api/src/main/java/run/halo/app/extension/controller/Reconciler.java
  api/src/main/java/run/halo/app/extension/controller/RequeueException.java
  api/src/test/java/run/halo/app/extension/controller/DefaultControllerTest.java
  application/src/main/java/run/halo/app/core/extension/endpoint/PluginEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/core/extension/service/DefaultRoleService.java
  application/src/main/java/run/halo/app/core/extension/service/PluginService.java
  application/src/main/java/run/halo/app/core/extension/service/impl/PluginServiceImpl.java
  application/src/main/java/run/halo/app/core/extension/theme/SettingUtils.java
  application/src/main/java/run/halo/app/event/post/PostPublishedEvent.java
  application/src/main/java/run/halo/app/plugin/DefaultDevelopmentPluginRepository.java
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/java/run/halo/app/plugin/PluginBeforeStopSyncListener.java
  application/src/main/java/run/halo/app/plugin/PluginConst.java
  application/src/main/java/run/halo/app/plugin/PluginDevelopmentInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginExtensionLoaderUtils.java
  application/src/main/java/run/halo/app/plugin/PluginStartedListener.java
  application/src/main/java/run/halo/app/plugin/PluginUtils.java
  application/src/main/java/run/halo/app/plugin/SpringExtensionFactory.java
  application/src/main/java/run/halo/app/plugin/YamlPluginFinder.java
  application/src/main/java/run/halo/app/plugin/resources/BundleResourceUtils.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PluginReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/service/impl/PluginServiceImplTest.java
  application/src/test/java/run/halo/app/plugin/DefaultDevelopmentPluginRepositoryTest.java
  application/src/test/java/run/halo/app/plugin/PluginExtensionLoaderUtilsTest.java
  application/src/test/java/run/halo/app/plugin/PluginStartedListenerTest.java
  application/src/test/java/run/halo/app/plugin/YamlPluginFinderTest.java
  application/src/test/java/run/halo/app/plugin/resources/BundleResourceUtilsTest.java
  application/src/test/resources/plugin/plugin-0.0.1/extensions/setting.yaml
Labels: lgtm, release-note-none, area/core, kind/improvement

#5187 Add codecov action into workflow
  .github/workflows/halo.yaml
Labels: lgtm, kind/regression, release-note-none, approved

#5163 feat: add shortcut for table deletion
  console/packages/editor/src/extensions/list-keymap/index.ts
  console/packages/editor/src/extensions/table/index.ts
  console/packages/editor/src/extensions/table/util.ts
Labels: kind/feature, lgtm, approved, release-note, area/editor

#5200 Disable Swagger cache in development environment
  application/src/main/resources/application-dev.yaml
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#5176 pref: add additional attributes and colgroup for tables
  console/packages/editor/package.json
  console/packages/editor/src/extensions/table/index.ts
  console/pnpm-lock.yaml
Labels: lgtm, approved, release-note, area/editor

#5177 Refactor menu generation strategy to support sub-menu items.
  console/console-src/modules/contents/attachments/module.ts
  console/console-src/modules/contents/comments/module.ts
  console/console-src/modules/contents/pages/module.ts
  console/console-src/modules/contents/posts/module.ts
  console/console-src/modules/interface/menus/module.ts
  console/console-src/modules/interface/themes/module.ts
  console/console-src/modules/system/actuator/module.ts
  console/console-src/modules/system/backup/module.ts
  console/console-src/modules/system/plugins/module.ts
  console/console-src/modules/system/settings/module.ts
  console/console-src/modules/system/users/module.ts
  console/console-src/setup/setupModules.ts
  console/env.d.ts
  console/packages/components/src/components/menu/Menu.stories.ts
  console/packages/components/src/components/menu/MenuItem.vue
  console/packages/components/src/components/menu/__tests__/Menu.spec.tsx
  console/src/components/menu/RoutesMenu.tsx
  console/src/composables/use-route-menu-generator.ts
  console/uc-src/modules/contents/posts/module.ts
  console/uc-src/modules/notifications/module.ts
  console/uc-src/setup/setupModules.ts
Labels: kind/feature, lgtm, approved, area/console, release-note

#5210 chore: bump tiptap version to 2.1.16
  console/package.json
  console/packages/editor/package.json
  console/pnpm-lock.yaml
Labels: kind/bug, lgtm, release-note-none, approved, area/console, area/editor

#5159 feat: refactor editor image block upload logic
  console/console-src/modules/contents/attachments/composables/use-attachment.ts
  console/console-src/modules/contents/pages/SinglePageEditor.vue
  console/console-src/modules/contents/posts/PostEditor.vue
  console/package.json
  console/packages/components/src/icons/icons.ts
  console/packages/editor/src/index.ts
  console/packages/editor/src/tiptap/index.ts
  console/pnpm-lock.yaml
  console/src/components/editor/DefaultEditor.vue
  console/src/components/editor/composables/use-attachment.ts
  console/src/components/editor/extensions/image/ImageView.vue
  console/src/components/editor/extensions/image/index.ts
  console/src/components/editor/extensions/index.ts
  console/src/components/editor/extensions/upload/index.ts
  console/src/components/editor/utils/attachment.ts
  console/src/components/editor/utils/upload.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/utils/api-client.ts
  console/uc-src/modules/contents/posts/PostEditor.vue
  console/uc-src/modules/contents/posts/types/index.ts
Labels: kind/feature, lgtm, approved, release-note, area/editor

#5224 refactor: update chinese display name of post editor role
  application/src/main/resources/extensions/role-template-uc-content.yaml
Labels: lgtm, area/core, approved, release-note

#5232 Upgrade Spring Boot to 3.2.2
  application/build.gradle
  application/src/main/java/run/halo/app/content/comment/ReplyService.java
  application/src/main/java/run/halo/app/infra/exception/handlers/ProblemDetailErrorAttributes.java
  application/src/main/java/run/halo/app/theme/finders/impl/CommentPublicQueryServiceImpl.java
  gradle.properties
  platform/application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5233 refactor: optimize the implementation of indexed query engine through query index view
  api/src/main/java/run/halo/app/extension/index/KeyComparator.java
  api/src/main/java/run/halo/app/extension/index/query/And.java
  api/src/main/java/run/halo/app/extension/index/query/EqualQuery.java
  api/src/main/java/run/halo/app/extension/index/query/IsNotNull.java
  api/src/main/java/run/halo/app/extension/index/query/IsNull.java
  api/src/main/java/run/halo/app/extension/index/query/NotEqual.java
  api/src/main/java/run/halo/app/extension/index/query/QueryFactory.java
  api/src/main/java/run/halo/app/extension/index/query/QueryIndexView.java
  api/src/main/java/run/halo/app/extension/index/query/QueryIndexViewImpl.java
  api/src/test/java/run/halo/app/extension/index/KeyComparatorTest.java
  api/src/test/java/run/halo/app/extension/index/query/AndTest.java
  api/src/test/java/run/halo/app/extension/index/query/IndexViewDataSet.java
  api/src/test/java/run/halo/app/extension/index/query/QueryFactoryTest.java
  api/src/test/java/run/halo/app/extension/index/query/QueryIndexViewImplTest.java
  application/src/main/java/run/halo/app/extension/index/IndexEntryImpl.java
  application/src/main/java/run/halo/app/extension/index/IndexedQueryEngineImpl.java
  application/src/test/java/run/halo/app/extension/index/IndexEntryImplTest.java
  application/src/test/java/run/halo/app/extension/index/IndexedQueryEngineImplTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#5227 refactor: improve role dependency-related functions and i18n
  application/src/main/resources/extensions/role-template-post.yaml
  application/src/main/resources/extensions/role-template-uc-content.yaml
  console/console-src/modules/system/roles/RoleDetail.vue
  console/console-src/modules/system/roles/RoleList.vue
  console/src/composables/use-role.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
  console/src/utils/role.ts
Labels: lgtm, area/core, approved, area/console, release-note

#5238 Revert: refresh the plugin wrapper when starting the plugin
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement

#5234 fix: text selected after resolving the table cannot be deleted
  console/packages/editor/src/extensions/table/index.ts
Labels: kind/bug, lgtm, approved, release-note

#5206 feat: provide find and replace functionality for the default rich text editor
  console/packages/editor/src/components/EditorHeader.vue
  console/packages/editor/src/components/toolbar/ToolbarItem.vue
  console/packages/editor/src/dev/App.vue
  console/packages/editor/src/extensions/index.ts
  console/packages/editor/src/extensions/search-and-replace/SearchAndReplace.vue
  console/packages/editor/src/extensions/search-and-replace/SearchAndReplacePlugin.ts
  console/packages/editor/src/extensions/search-and-replace/index.ts
  console/packages/editor/src/locales/en.yaml
  console/packages/editor/src/locales/zh-CN.yaml
  console/packages/editor/src/styles/index.scss
  console/packages/editor/src/styles/search.scss
  console/packages/editor/src/styles/tailwind.css
  console/src/components/editor/DefaultEditor.vue
Labels: kind/feature, lgtm, approved, area/console, release-note, area/editor

#5191 pref: resolve horizontal scrollbar display issue in table
  console/packages/editor/src/extensions/table/index.ts
  console/packages/editor/src/styles/table.scss
Labels: lgtm, approved, release-note, kind/improvement

#5245 fix: resolve unequal schemes built from same Extension blocking unregister
  api/src/main/java/run/halo/app/extension/Scheme.java
  application/src/test/java/run/halo/app/extension/SchemeTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#5244 refactor: improve effect of menu expand
  console/packages/components/src/components/menu/MenuItem.vue
  console/packages/components/src/components/menu/__tests__/Menu.spec.tsx
  console/packages/components/src/components/menu/__tests__/__snapshots__/Menu.spec.tsx.snap
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5246 fix: resolve the issue of the bubble menu being obscured
  console/packages/editor/src/components/Editor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note, area/editor

#5230 refactor: using indexes to query post lists
  api/src/main/java/run/halo/app/core/extension/content/Snapshot.java
  api/src/main/java/run/halo/app/extension/ListResult.java
  api/src/main/java/run/halo/app/extension/router/selector/FieldSelector.java
  api/src/main/java/run/halo/app/extension/router/selector/LabelSelector.java
  api/src/main/java/run/halo/app/extension/router/selector/SelectorUtil.java
  application/src/main/java/run/halo/app/content/DefaultIndexer.java
  application/src/main/java/run/halo/app/content/Indexer.java
  application/src/main/java/run/halo/app/content/PostIndexInformer.java
  application/src/main/java/run/halo/app/content/PostQuery.java
  application/src/main/java/run/halo/app/content/impl/PostServiceImpl.java
  application/src/main/java/run/halo/app/content/impl/SnapshotServiceImpl.java
  application/src/main/java/run/halo/app/core/extension/endpoint/StatsEndpoint.java
  application/src/main/java/run/halo/app/core/extension/reconciler/CategoryReconciler.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  application/src/main/java/run/halo/app/core/extension/reconciler/SinglePageReconciler.java
  application/src/main/java/run/halo/app/core/extension/reconciler/TagReconciler.java
  application/src/main/java/run/halo/app/infra/SchemeInitializer.java
  application/src/main/java/run/halo/app/theme/endpoint/CategoryQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/PostQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/endpoint/TagQueryEndpoint.java
  application/src/main/java/run/halo/app/theme/finders/PostPublicQueryService.java
  application/src/main/java/run/halo/app/theme/finders/TagFinder.java
  application/src/main/java/run/halo/app/theme/finders/impl/CategoryFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/PostPublicQueryServiceImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/SiteStatsFinderImpl.java
  application/src/main/java/run/halo/app/theme/finders/impl/TagFinderImpl.java
  application/src/main/java/run/halo/app/theme/router/DefaultQueryPostPredicateResolver.java
  application/src/main/java/run/halo/app/theme/router/ExtensionPermalinkPatternUpdater.java
  application/src/main/java/run/halo/app/theme/router/ReactiveQueryPostPredicateResolver.java
  application/src/main/java/run/halo/app/theme/router/factories/CategoryPostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/PostRouteFactory.java
  application/src/main/java/run/halo/app/theme/router/factories/TagPostRouteFactory.java
  application/src/test/java/run/halo/app/content/DefaultIndexerTest.java
  application/src/test/java/run/halo/app/content/PostQueryTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/CategoryReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/PostReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/SinglePageReconcilerTest.java
  application/src/test/java/run/halo/app/core/extension/reconciler/TagReconcilerTest.java
  application/src/test/java/run/halo/app/extension/ListResultTest.java
  application/src/test/java/run/halo/app/theme/endpoint/CategoryQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/endpoint/PostQueryEndpointTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/CategoryFinderImplTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/PostFinderImplTest.java
  application/src/test/java/run/halo/app/theme/finders/impl/TagFinderImplTest.java
  application/src/test/java/run/halo/app/theme/router/factories/TagPostRouteFactoryTest.java
  console/console-src/modules/contents/posts/DeletedPostList.vue
  console/console-src/modules/contents/posts/PostList.vue
  console/console-src/modules/contents/posts/categories/composables/use-post-category.ts
  console/console-src/modules/contents/posts/tags/composables/use-post-tag.ts
  console/console-src/modules/contents/posts/widgets/RecentPublishedWidget.vue
  console/packages/api-client/src/api/api-console-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/api/uc-api-content-halo-run-v1alpha1-post-api.ts
  console/packages/api-client/src/models/plugin-status.ts
  console/src/components/global-search/GlobalSearchModal.vue
  console/src/formkit/inputs/category-checkbox.ts
  console/src/formkit/inputs/tag-checkbox.ts
  console/uc-src/modules/contents/posts/PostList.vue
Labels: kind/feature, lgtm, area/core, area/console, release-note

#5252 feat: add tools page for console
  console/console-src/modules/system/tools/Tools.vue
  console/console-src/modules/system/tools/module.ts
  console/packages/components/src/icons/icons.ts
  console/src/locales/en.yaml
  console/src/locales/zh-CN.yaml
  console/src/locales/zh-TW.yaml
Labels: kind/feature, lgtm, approved, area/console, release-note

#5250 feat: optimized post reconciliation process for enhanced performance and resource utilization
  api/src/main/java/run/halo/app/core/extension/content/Post.java
  application/src/main/java/run/halo/app/core/extension/reconciler/PostReconciler.java
  application/src/main/java/run/halo/app/infra/SchemeInitializer.java
  application/src/test/java/run/halo/app/content/TestPost.java
  application/src/test/java/run/halo/app/content/comment/CommentServiceImplTest.java
Labels: kind/feature, lgtm, area/core, approved, release-note

#5251 Simplify halo plugin manager
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
  application/src/main/java/run/halo/app/core/extension/reconciler/ReverseProxyReconciler.java
  application/src/main/java/run/halo/app/infra/DefaultSystemVersionSupplier.java
  application/src/main/java/run/halo/app/plugin/BasePluginFactory.java
  application/src/main/java/run/halo/app/plugin/DefaultPluginApplicationContextFactory.java
  application/src/main/java/run/halo/app/plugin/DefaultPluginRouterFunctionRegistry.java
  application/src/main/java/run/halo/app/plugin/DefaultSharedEventListenerRegistry.java
  application/src/main/java/run/halo/app/plugin/DevPluginLoader.java
  application/src/main/java/run/halo/app/plugin/ExtensionComponentsFinder.java
  application/src/main/java/run/halo/app/plugin/ExtensionContextRegistry.java
  application/src/main/java/run/halo/app/plugin/HaloPluginManager.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationContext.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationContextFactory.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationEventBridgeDispatcher.java
  application/src/main/java/run/halo/app/plugin/PluginApplicationInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginAutoConfiguration.java
  application/src/main/java/run/halo/app/plugin/PluginBeforeStopSyncListener.java
  application/src/main/java/run/halo/app/plugin/PluginCompositeRouterFunction.java
  application/src/main/java/run/halo/app/plugin/PluginControllerManager.java
  application/src/main/java/run/halo/app/plugin/PluginCreatedEventReconciler.java
  application/src/main/java/run/halo/app/plugin/PluginDevelopmentInitializer.java
  application/src/main/java/run/halo/app/plugin/PluginProperties.java
  application/src/main/java/run/halo/app/plugin/PluginRequestMappingManager.java
  application/src/main/java/run/halo/app/plugin/PluginRouterFunctionRegistry.java
  application/src/main/java/run/halo/app/plugin/PluginStartedListener.java
  application/src/main/java/run/halo/app/plugin/SharedApplicationContextFactory.java
  application/src/main/java/run/halo/app/plugin/SharedApplicationContextHolder.java
  application/src/main/java/run/halo/app/plugin/SharedEventListenerRegistry.java
  application/src/main/java/run/halo/app/plugin/SpringComponentsFinder.java
  application/src/main/java/run/halo/app/plugin/SpringExtensionFactory.java
  application/src/main/java/run/halo/app/plugin/SpringPlugin.java
  application/src/main/java/run/halo/app/plugin/SpringPluginFactory.java
  application/src/main/java/run/halo/app/plugin/SpringPluginManager.java
  application/src/main/java/run/halo/app/plugin/event/PluginCreatedEvent.java
  application/src/main/java/run/halo/app/plugin/event/SpringPluginStartedEvent.java
  application/src/main/java/run/halo/app/plugin/event/SpringPluginStartingEvent.java
  application/src/main/java/run/halo/app/plugin/event/SpringPluginStoppedEvent.java
  application/src/main/java/run/halo/app/plugin/event/SpringPluginStoppingEvent.java
  application/src/main/java/run/halo/app/plugin/extensionpoint/DefaultExtensionGetter.java
  application/src/main/java/run/halo/app/plugin/resources/ReverseProxyRouterFunctionFactory.java
  application/src/main/java/run/halo/app/plugin/resources/ReverseProxyRouterFunctionRegistry.java
  application/src/main/java/run/halo/app/theme/finders/DefaultFinderRegistry.java
  application/src/main/java/run/halo/app/theme/finders/FinderRegistry.java
  application/src/test/java/run/halo/app/core/extension/reconciler/ReverseProxyReconcilerTest.java
  application/src/test/java/run/halo/app/infra/DefaultSystemVersionSupplierTest.java
  application/src/test/java/run/halo/app/plugin/DefaultPluginRouterFunctionRegistryTest.java
  application/src/test/java/run/halo/app/plugin/PluginCompositeRouterFunctionTest.java
  application/src/test/java/run/halo/app/plugin/SharedApplicationContextFactoryTest.java
  application/src/test/java/run/halo/app/plugin/SharedApplicationContextHolderTest.java
  application/src/test/java/run/halo/app/plugin/SpringComponentsFinderTest.java
  application/src/test/java/run/halo/app/plugin/resources/ReverseProxyRouterFunctionFactoryTest.java
  application/src/test/java/run/halo/app/plugin/resources/ReverseProxyRouterFunctionRegistryTest.java
  application/src/test/java/run/halo/app/theme/finders/FinderRegistryTest.java
Labels: lgtm, release-note-none, area/core, approved, kind/improvement, area/plugin

#5256 Fix the problem of resolving logo starting with slash
  application/src/main/java/run/halo/app/core/extension/reconciler/PluginReconciler.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#5258 chore: update links in preset post
  console/console-src/views/system/setup-data/post.json
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5261 Upgrade Lucene to 9.9.1
  platform/application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5262 Upgrade Resilience4j to 2.2.0
  platform/application/build.gradle
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5271 Fix the problem of starting reconcilers in plugin before registering scheme
  application/src/main/java/run/halo/app/plugin/PluginControllerManager.java
Labels: kind/bug, lgtm, release-note-none, area/core, approved, area/plugin

#5266 fix: unable to request session keep-alive API when browser tabs are inactive
  console/src/composables/use-session-keep-alive.ts
Labels: kind/bug, lgtm, approved, area/console, release-note

#5270 fix: it cannot be re-uploaded when the user's avatar cannot be obtained
  console/console-src/modules/system/users/UserDetail.vue
  console/src/components/user-avatar/UserAvatar.vue
  console/uc-src/modules/profile/Profile.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#5134 chore: add vue dev tools
  console/package.json
  console/pnpm-lock.yaml
  console/src/vite/config-builder.ts
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5263 Fix the problem of showing 500 error while containing special chars in excerpt
  application/src/main/java/run/halo/app/theme/dialect/ContentTemplateHeadProcessor.java
  application/src/main/java/run/halo/app/theme/dialect/DuplicateMetaTagProcessor.java
  application/src/test/java/run/halo/app/theme/dialect/ContentTemplateHeadProcessorIntegrationTest.java
  application/src/test/java/run/halo/app/theme/dialect/HaloProcessorDialectTest.java
Labels: kind/bug, lgtm, area/core, approved, release-note

#5274 fix: pat can not be copied
  console/uc-src/modules/profile/components/PersonalAccessTokenCreationModal.vue
Labels: kind/bug, lgtm, approved, area/console, release-note

#5272 pref: adapt auto save functionality for articles in the uc
  console/console-src/modules/contents/pages/SinglePageEditor.vue
  console/console-src/modules/contents/posts/PostEditor.vue
  console/src/composables/use-auto-save-content.ts
  console/src/composables/use-content-cache.ts
  console/uc-src/modules/contents/posts/PostEditor.vue
Labels: lgtm, approved, area/console, release-note, kind/improvement

#5269 refactor: error prompt for inability to obtain avatar permalink when starting
  application/src/main/java/run/halo/app/core/extension/reconciler/UserReconciler.java
Labels: lgtm, area/core, approved, release-note, kind/improvement

#5276 fix: current selected role templates will be clear after select a other role
  console/src/composables/use-role.ts
Labels: kind/bug, lgtm, release-note-none, approved, area/console

#5280 refactor: data fetching of dashboard widgets
  console/console-src/composables/use-dashboard-stats.ts
  console/console-src/modules/contents/comments/widgets/CommentStatsWidget.vue
  console/console-src/modules/contents/pages/widgets/SinglePageStatsWidget.vue
  console/console-src/modules/contents/posts/widgets/PostStatsWidget.vue
  console/console-src/modules/dashboard/Dashboard.vue
  console/console-src/modules/dashboard/widgets/ViewsStatsWidget.vue
  console/console-src/modules/system/users/widgets/UserStatsWidget.vue
Labels: lgtm, approved, area/console, kind/improvement

#5281 chore: change editor version to 2.12.0
  console/packages/editor/package.json
Labels: lgtm, release-note-none, approved, area/console, kind/improvement

#5279 fix: the order of contributors for posts is not fixed
  application/src/main/java/run/halo/app/content/impl/PostServiceImpl.java
Labels: lgtm, area/core, approved, kind/improvement

#5282 Remove analyzing code step in test job
  .github/workflows/halo.yaml
Labels: lgtm, release-note-none, area/core, kind/cleanup, approved

#5290 Fix the problem of unable to enable/disable 2FA for non-admin users
  application/src/main/resources/extensions/role-template-authenticated.yaml
Labels: kind/bug, lgtm, release-note-none, area/core, approved

#5292 fix: preserve white spaces when parsing the default editor
  console/packages/editor/src/dev/App.vue
  console/src/components/editor/DefaultEditor.vue
Labels: kind/bug, lgtm, approved, area/console, release-note, area/editor

#5286 feat: add supports for ui permissions of notification reason type
  application/src/main/java/run/halo/app/notification/endpoint/UserNotificationPreferencesEndpoint.java
  application/src/main/resources/extensions/notification.yaml
  console/packages/api-client/src/models/post-status.ts
  console/packages/api-client/src/models/reason-type-info.ts
  console/packages/api-client/src/models/single-page-status.ts
  console/uc-src/modules/profile/tabs/NotificationPreferences.vue
Labels: kind/feature, lgtm, area/core, approved, area/console, release-note
